<div id="panel_preview_opening_description" class="fixed t-left close_panel left-panel">
    <a id="preview_opening_description_button"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Предпросмотр (начальный текст)"> <i class="fa fa-tripadvisor" style="color:red"></i> </a>

    <div id="preview-opening-description-standart">

        <b><u>Предпросмотр (начальный текст):</u></b>


        <textarea  class="form-control" cols="2" rows="8"  name="opening_word">{%if dones.opening_word is defined and dones.opening_word is not empty%}{{dones.opening_word|trim}}{%endif%}</textarea>

               {# {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined  %}




            {%set time_preview=''%}
            {%set date_preview=''%}
            {%set latitude_preview=''%}
            {%set longitude_preview=''%}

            {%if dones.time_msg != '' and dones.time_msg is not null%}
                {{dones.time_msg|date('d.m.Y')}} года
            {%endif%}

            {%if dones.time_msg != '' and dones.time_msg is not null%}
                в {{dones.time_msg|date('H:i')}}
            {%endif%}


            {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.latitude is not empty %}
                {%set latitude_preview=dones.latitude|trim%}
            {%endif%}

            {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.longitude is not empty %}
                {%set longitude_preview=dones.longitude|trim%}
            {%endif%}


            {%if latitude_preview is not empty and longitude_preview is not empty %}
                {%set coord_preview=' ('~latitude_preview~', '~longitude_preview~').'%}
            {%else%}
                {%set coord_preview=' (нет координат).'%}
            {%endif%}


            {%if dones.address is not empty and dones.is_show_address == 1%}
                {%set coord_preview=' '~dones.address~coord_preview%}
            {%endif%}




            {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.opening_description is not empty %}

                {%for op in dones.preview_opening_description%}

                    {%if loop.index == 1%}
                        {{op}}{{coord_preview}}
                    {%else%}
                        <br>{{op}}
                    {%endif%}

                {%endfor%}
            {%else%}
                {{coord_preview}}
            {%endif%}
        {%endif%}#}
    </div>
</div>



<div id="panel-preview-object" class="fixed t-left close_panel left-panel" style="display:{%if is_edit_dones is defined and is_edit_dones == 1 and dones.is_show_object == 1  %}block{%else%}none{%endif%}" >
    <a id="preview_object_button"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Предпросмотр (объект)"> <i class="fa fa-tripadvisor" style="color:red"></i> </a>
    <div id="preview-object-standart">

        <b><u>Предпросмотр (объект):</u></b><br>


        <textarea  class="form-control" cols="2" rows="8"  name="object_word">{%if dones.object_word is defined and dones.object_word is not empty and dones.is_show_object == 1%}{{dones.object_word|trim}}{%endif%}</textarea>

        {#{%if is_edit_dones is defined and is_edit_dones == 1 and dones.object_data is defined and dones.object_data is not empty and dones.is_show_object == 1  %}

            {%set i=0%}

            {%if dones.object_data.object_preview is not empty %}

                {%for op in dones.object_data.object_preview%}
                    {%if loop.index == 1%}
                        {{op}}
                    {%else%}
                        <br>{{op}}
                    {%endif%}
                {%endfor%}

                {%set i=i+1%}
            {%endif%}


            {%set preview=''%}


            {%if dones.object_data.house_name is not empty %}

                {%set preview='('~dones.object_data.house_name~')'%}
            {%endif%}



            {%if dones.object_data.material_name is not empty %}

                {%if preview == '' %}
                    {%set preview=dones.object_data.material_name%}
                {%else%}
                    {%set preview=preview~', '~dones.object_data.material_name%}

                {%endif%}

            {%endif%}


            {%if dones.object_data.object_floor_text is not empty %}

                {%if preview == '' %}
                    {%set preview=dones.dones.object_data.object_floor_text%}
                {%else%}
                    {%set preview=preview~', '~dones.object_data.object_floor_text%}

                {%endif%}

            {%endif%}





            {%if dones.object_data.roof_name is not empty %}

                {%if preview == '' %}
                    {%set preview='кровля '~dones.dones.object_data.roof_name%}
                {%else%}
                    {%set preview=preview~', '~'кровля '~dones.object_data.roof_name%}

                {%endif%}

            {%endif%}

            {%if dones.object_data.object_is_electric == 1 %}
                {%set electric='электрофицирован'%}
            {%else%}
                {%set electric='не электрофицирован'%}

            {%endif%}
            {%if preview == '' %}
                {%set preview=electric%}
            {%else%}
                {%set preview=preview~', '~electric%}

            {%endif%}


            {%if dones.object_data.object_is_api == 1 %}
                {%set api='АПИ установлен'%}
            {%else%}
                {%set api='АПИ не установлен'%}

            {%endif%}
            {%if preview == '' %}
                {%set preview=api%}
            {%else%}
                {%set preview=preview~', '~api%}

            {%endif%}




            {%if preview != '' or i>0 %}
                {%set preview=preview~'.'%}
            {%endif%}



            {%if dones.object_data.officebelong_name is not empty %}

                {%if preview == '' %}
                    {%set preview='Ведомственная принадлежность - '~dones.object_data.officebelong_name~'.'%}
                {%else%}
                    {%set preview=preview~' Ведомственная принадлежность - '~dones.object_data.officebelong_name~'.'%}

                {%endif%}

            {%endif%}

            {{preview}}

        {%elseif dones.is_show_object == 0  %}
            информация не будет выведена в СД

        {%endif%}#}



    </div>
</div>

{#profilaktika#}
<div id="panel_preview_prevention" class="fixed t-left close_panel left-panel" style="display:{%if is_edit_dones is defined and is_edit_dones == 1 and dones.is_show_prevention == 1  %}block{%else%}none{%endif%}" >
    <a id="preview_prevention_button"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Предпросмотр (меры профилактики)"> <i class="fa fa-tripadvisor"></i> </a>
    <div id="preview_prevention">

        <b><u>Предпросмотр (меры профилактики):</u></b><br>
                {%if is_edit_dones is defined and is_edit_dones == 1 and dones.is_show_prevention == 1  %}
                    {#{{dump(dones.object_data)}}#}
                    {%set i=0%}




            {%set preview=''%}


            {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.prevention_time is not empty and dones.prevention_time != '0000-00-00' %}
                {%set preview=dones.prevention_time|date('d.m.Y')%}
            {%endif%}

            {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.prevention_who is not empty %}

                {%if preview == '' %}
                    {%set preview=dones.prevention_who|trim%}
                {%else%}
                    {%set preview=preview~' '~dones.prevention_who|trim%}
                {%endif%}

            {%endif%}

            {%if preview != ''  %}
                {{preview}}
            {%endif%}

            {%if dones.preview_prevention_results is not empty %}

                {%for op in dones.preview_prevention_results%}
                    {%if loop.index == 1%}
                        {{' проводились следующие профилактические работы: '~op}}
                    {%else%}
                        <br>{{op}}
                    {%endif%}
                {%endfor%}

                {%set i=i+1%}
            {%endif%}

            {%if dones.preview_prevention_events is not empty %}

                {%for op in dones.preview_prevention_events%}
                    {%if loop.index == 1%}
                        {{' Проводимые мероприятия для формирования в обществе культуры, безопасной жизнедеятельности: '~op}}
                    {%else%}
                        <br>{{op}}
                    {%endif%}
                {%endfor%}

                {%set i=i+1%}
            {%endif%}

        {%elseif dones.is_show_object == 0  %}
            информация не будет выведена в СД

        {%endif%}







    </div>
</div>




<div id="panel_preview_owner" class="fixed t-left close_panel left-panel" style="display:{%if is_edit_dones is defined and is_edit_dones == 1 and dones.is_show_owner == 1  %}block{%else%}none{%endif%}">
    <a id="preview_owner_button"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Предпросмотр (данные по собственнику)"> <i class="fa fa-tripadvisor" style="color:red"></i> </a>

    <div id="preview-owner-standart">

        <b><u>Предпросмотр (данные по собственнику):</u></b>

        <textarea class="form-control" cols="2" rows="8"  name="owner_word">{%if dones.owner_word is defined and dones.owner_word is not empty and dones.is_show_owner == 1%}{{dones.owner_word|trim}}{%endif%}</textarea>

    </div>
</div>