{% extends 'layout.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!-- content -->


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

        <!-- видеоурок -->

        <!-- <div class="container">
               <div class="row">
                       <div class="col-6">1</div>
                       <div class="col-3">2</div>
               </div>

       </div> -->

        <!-- видеоурок -->


        <div class="container" style="margin-left: 21px;">
            <h4>Программное средство &laquo;Специальные донесения&raquo;</h4>

            {#<p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p>#}
        </div>
        <p style="margin-left: 35px;">предназначено для автоматизированной подготовки специальных донесений на основе информации из программных средств <i>"Журнал ЦОУ", "Строевая записка", "Учет сил и средств ОПЧС". </i></p>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Стандартное</h3>
                <p>Данный вид специального донесения содержит стандартные таблицы по боевой работе, строевой записке, информированию, привлечению служб взаимодействия с возможностью ручной корректировки</p>


                <a href="{{ base_url('/dones/form_standart/1')}}"><img  src="{{ base_url('/assets/images/dones/02_2.png')}}" style="width:345px;"></a>
                <br> <br>
                <p><a class="btn btn-primary" href="{{ base_url('/dones/form_standart/1')}}" role="button">Перейти &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h3>Простое</h3>
                <p>Данный вид специального донесения содержит только текст (без базовых блоков из стандартного вида)</p>
                <br>
                <a href="{{ base_url('/dones/form_simple')}}"><img  src="{{ base_url('/assets/images/dones/02_1.png')}}" style="width:345px;height: 457px; "></a>
                <br> <br>
                <p><a class="btn btn-primary" href="{{ base_url('/dones/form_simple')}}" role="button">Перейти &raquo;</a></p>
            </div>
            {#      <div class="col-md-4">
                    <h2>Мои шаблоны</h2>
                    <p>Раздел предназначен для первичного ввода шаблонов-заготовок для вставки больших кусков уже набранного текста при подгототвке специального донесения</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a></p>
                  </div>#}
        </div>

        <hr>

    </div> <!-- /container -->


    <!-- .content -->

{% endblock %}




{% block head %}
    <style>
        .jumbotron {
            padding-bottom: 1px;
            margin-bottom: 2px;
            padding-top: 69px;
        }


    </style>

{% endblock %}

{% block footer %}

    {% include 'copyright_footer.twig' %}

{% endblock %}

