{% extends 'layout.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!-- content -->
    <br>
    <center>
        <form role="form" id="settingsForm" method="POST" action="{{base_url('/settings/save')}}" >
            <caption>Настройки</caption>
            <table class="table table-condensed table-hover  table-bordered table-custom" id="userTable" >
                <!-- строка 1 -->
                <thead>
                    <tr>
                        <th>Настройка</th>
                        <th>Значение</th>
                        <th>Тип СД, для которго активна настройка</th>
                    </tr>
                </thead>

                <tbody>
                    {% for setting in settings %}
{%set i=0%}
                        <tr class="{%if setting.type_sd == 1 %} standart-sd-color {%elseif setting.type_sd == 0 %} table-warning {%endif%}">
                            <td>{{setting.name}}</td>
                            <td>
                                {%if setting.options is defined and setting.options is not empty %}



                                    <div class="form-group">
                                        <select class="form-control option-select" name="id_settings_option[{{setting.type}}][]"  {%if setting.is_multi == 1 %} multiple {%endif%}>

                                            {% for option in setting.options %}
                                                {%if user_options is defined and option.id in user_options %}
                                                {%set i=i+1%}
                                                {%endif%}
                                                <option value="{{ option.id }}" {%if user_options is defined and option.id in user_options %} selected {%elseif option.is_default == 1 and i==0 %} selected {%endif%} >{{ option.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                {%endif%}
                            </td>
                            <td>{% if setting.type_sd == 1%} стандартное {%elseif setting.type_sd == 2%}простое{%else%}все{%endif%}</td>

                        </tr>


                    {%endfor%}
                </tbody>

            </table>


                 <center>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" >Сохранить изменения</button>
                    <br>
                </div>

                <div class="form-group">
                    <a href="{{base_url('/')}}">  <button type="button" class="btn btn-secondary">Отмена</button></a>

                </div>

                     </center>
        </form>
    </center>

    <!-- .content -->




{% endblock %}


{% block head %}

    <style>
        .select2-container {
            width: 300px !important;
        }
    </style>

{% endblock %}

{% block footer %}

    <script>

        $('.option-select').select2({
            "language": {
                "noResults": function () {
                    return "Ничего не найдено";
                }
            }
        });
    </script>
{% endblock %}

