<div class="card" id="div-silymchs">

    <div class="card-header" style="background-color: #d9edf7">
        К месту вызова направлялись: (возможность ручной корректировки)

        &nbsp;&nbsp;
        <a href="#" id="a-search-str-cars" data-toggle="modal"  data-target="#modal-search-str-cars" data-url="" data-toggle="tooltip" data-placement="right" title="Поиск техники в строевой записке">
            <i class="fa fa-search" aria-hidden="true" id="search-str-cars"></i>
        </a>
        &nbsp;&nbsp;
        <label for="silymchs_is_not_involved" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="checkbox checkbox-danger" style='display:inline'>
            <input  type="checkbox" name="is_not_involved_silymchs" value="1"  id='silymchs_is_not_involved' onChange='notEnvolve("div-silymchs", this);' {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_silymchs == 1 %}checked{%endif%}>
            <label for="silymchs_is_not_involved">
                СиС МЧС не привлекались
            </label>
        </div>




    </div>

    <!-- /.panel-heading -->
    <div class="card-body" >

        {#{{dump(rig.silymchs)}}#}
        <div class="table-responsive table-bordered">
            <table class="table" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th ></th>
                        <th>Техника</th>
                        <th style="width: 150px">Подразделение</th>
                        <th>РОЧС</th>
                        <th style="width: 120px">Объем цистерны (тонн)</th>
                        <th>Кол-во<br>л/с<br>(чел.) <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Данные за последнюю заступившую смену"></i>

                            {#                            {%if rig is defined and rig.man_per_car_note is defined and rig.man_per_car_note is not empty%}
                                                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{rig.man_per_car_note}}"></i>

                                                        {%endif%}#}

                        </th>
                        <th style="width: 120px">Время выезда</th>
                        <th style="width: 120px">Время прибытия</th>
                        <th>Время следования<br>(мин)</th>
                        <th style="width: 100px">Расстояние<br>(км)</th>
                        <th style="width: 120px">Время окончания работ</th>
                        <th style="width: 120px">Время возвращения</th>

                        <th></th>
                    </tr>
                </thead>

                {%set x=1%}

                {% if (rig is defined and rig.silymchs is defined and rig.silymchs is not empty) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_silymchs == 0 and dones.silymchs is defined and dones.silymchs is not empty)%}

                    {% if rig is defined and rig.silymchs is defined and rig.silymchs is not empty%}

                        {%set arr_silymchs=rig.silymchs%}

                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_silymchs == 0 and dones.silymchs is defined and dones.silymchs is not empty%}
                        {%set arr_silymchs=dones.silymchs%}
                    {%endif%}

                    <tbody>

                        {%for sily in arr_silymchs %}


                            {% if rig is defined and rig.silymchs is defined and rig.silymchs is not empty%}

                                {%set x=loop.index%}

                            {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_silymchs == 0 and dones.silymchs is defined and dones.silymchs is not empty%}
                                {%set x=sily.sort%}
                            {%endif%}


                            <tr class="teacher_row" id="klon{{x}}" data-loop="{{x}}">


                                <td class="loop-index">{{x}}</td>

                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                        <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                    </div>
                                    <input type="hidden" class="sort" name="silymchs[{{x}}][sort]" value="{{x}}">
                                </td>

                                <td>

                                    <input style="width: 190px" type="text" class="form-control  mark teacher-list"   placeholder="марка" name="silymchs[{{x}}][mark]" value="{%if sily.mark is defined %}{{sily.mark|trim}}{%endif%}">

                                </td>
                                <td>

                                    <input type="text" class="form-control  pasp_name"   placeholder="" name="silymchs[{{x}}][pasp_name]" value="{%if rig is defined and sily.pasp_name_spec is defined %}{{sily.pasp_name_spec|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and sily.pasp_name is defined%}{{sily.pasp_name|trim}}{%endif%}">

                                </td>
                                <td>
                                    <input  style="width: 190px" type="text" class="form-control locorg_name"   placeholder="" name="silymchs[{{x}}][locorg_name]" value="{%if sily.locorg_name_spec is defined %}{{sily.locorg_name_spec|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and sily.locorg_name is defined%}{{sily.locorg_name|trim}}{%endif%}">

                                </td>

                                <td>
                                    <input  type="text" class="form-control v_ac" onkeypress="allowFloat();"  placeholder="" name="silymchs[{{x}}][v_ac]" value="{%if sily.v_ac is defined and sily.v_ac is not empty %}{{(sily.v_ac/1000)|number_format(1)}}{%endif%}">
                                </td>

                                <td>
                                    <input style="width: 70px" type="number" min="0" class="form-control man_per_car"   placeholder="" name="silymchs[{{x}}][man_per_car]" value="{%if sily.man_per_car is defined and sily.man_per_car is not empty%}{{sily.man_per_car}}{%endif%}">
                                    {%if rig is defined and sily.man_per_car_note is defined and sily.man_per_car_note is not empty%}
                                        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{sily.man_per_car_note}}"></i>

                                    {%endif%}
                                </td>

                                <td>
                                    {%set time_exit=''%}
                                    {% if sily.time_exit is not empty and sily.time_exit is not null and sily.time_exit != '0000-00-00 00:00:00' %}
                                        {%set time_exit=sily.time_exit%}
                                    {%endif%}

                                    <input type="time" class="form-control time_exit" onchange="setTimeFollow(this);"  placeholder="" name="silymchs[{{x}}][time_exit]" value="{%if time_exit is not empty%}{{time_exit|date('H:i')}}{%endif%}">
                                </td>
                                <td>
                                    {%set time_arrival=''%}
                                    {% if sily.time_arrival is not empty and sily.time_arrival is not null and sily.time_arrival != '0000-00-00 00:00:00' %}
                                        {%set time_arrival=sily.time_arrival%}
                                    {%endif%}

                                    <input type="time" class="form-control time_arrival" onchange="setTimeFollow(this);"  placeholder="" name="silymchs[{{x}}][time_arrival]" value="{%if time_arrival is not empty%}{{time_arrival|date('H:i')}}{%endif%}" {%if sily.is_return == 1%}disabled{%endif%}>


                                    <input  type="checkbox" class="is_return" name="silymchs[{{x}}][is_return]"  value="1" data-numb="{{x}}" onChange='returnTeh(this);' {%if sily.is_return == 1%}checked{%endif%}>
                                    <label for="is_return">
                                        возврат
                                    </label>

                                </td>


                                <td>

                                    {%set time_follow=''%}
                                    {% if sily.time_follow is not empty and sily.time_follow is not null and sily.time_follow != '0000-00-00 00:00:00' %}

                                        {%if is_edit_dones is defined and is_edit_dones == 1%}

                                            {%set time_follow=sily.time_follow%}

                                        {% elseif rig is defined %}
                                            {%set time_follow=sily.time_follow|date('i')|trim('0','left')%}
                                        {%endif%}
                                    {%endif%}

                                    <input type="number" class="form-control time_follow" min="0"  placeholder="" name="silymchs[{{x}}][time_follow]" value="{%if time_follow is not empty%}{{time_follow}}{%endif%}">


                                </td>

                                <td>
                                    {%set distance=''%}
                                    {% if sily.distance is not empty and sily.distance is not null  %}
                                        {%set distance=sily.distance%}
                                    {%endif%}

                                    <input type="text" class="form-control distance" onkeypress="allowFloat();"  placeholder="" name="silymchs[{{x}}][distance]" value="{%if distance is not empty%}{{distance}}{%endif%}">

                                </td>

                                <td>
                                    {%set time_end=''%}
                                    {% if sily.time_end is not empty and sily.time_end is not null and sily.time_end != '0000-00-00 00:00:00' %}
                                        {%set time_end=sily.time_end%}
                                    {%endif%}

                                    <input type="time" class="form-control time_end"   placeholder="" name="silymchs[{{x}}][time_end]" value="{%if time_end is not empty%}{{time_end|date('H:i')}}{%endif%}">

                                </td>


                                <td>
                                    {%set time_return=''%}
                                    {% if sily.time_return is not empty and sily.time_return is not null and sily.time_return != '0000-00-00 00:00:00' %}
                                        {%set time_return=sily.time_return%}
                                    {%endif%}

                                    <input type="time" class="form-control time_return"   placeholder="" name="silymchs[{{x}}][time_return]" value="{%if time_return is not empty%}{{time_return|date('H:i')}}{%endif%}">

                                </td>

                                <td>

                                    <input type="hidden" class="id_teh" name="silymchs[{{x}}][id_teh]" value="{%if sily.id_teh is defined and sily.id_teh is not empty %}{{sily.id_teh}}{%endif%}">

                                    {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_silymchs == 0 and sily.id is defined %}
                                        <input type="hidden" class="id_silymchs" name="silymchs[{{x}}][id_silymchs]" value="{{sily.id}}">
                                    {%endif%}


                                    <a href="#" class="del-teacher delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку"  ><i class="fa fa-times" aria-hidden="true" ></i></a>
                                </td>
                            </tr>

                        {%endfor%}
                    </tbody>


                {%else%}
                    {%set i=1%}
                    {%set x=i%}
                    <tbody>

                        <tr class="teacher_row" id="klon{{i}}" data-loop="{{i}}">


                            <td class="loop-index">{{i}}</td>


                            <td>
                                <div class="btn-group btn-group-xs">
                                    <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                    <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                    {#<img src="{{ base_url('assets/images/arrow_up.gif') }}" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                    <img src="{{ base_url('assets/images/arrow_down.gif') }}" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >#}
                                    {#<i class="fa fa-sort-asc up fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" ></i>
                                    <i class="fa fa-sort-desc down fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" ></i>#}
                                    {#<button class="btn btn-default up" type="button">Вверх</button>
                                    <button class="btn btn-default down" type="button">Вниз</button>#}
                                </div>
                                <input type="hidden" class="sort" name="silymchs[{{i}}][sort]" value="{{i}}">
                            </td>

                            <td>

                                <input style="width: 190px" type="text" class="form-control  mark teacher-list"   placeholder="марка" name="silymchs[{{i}}][mark]" value="">

                            </td>
                            <td>

                                <input type="text" class="form-control pasp_name"   placeholder="часть" name="silymchs[{{i}}][pasp_name]" value="">

                            </td>
                            <td >
                                <input style="width: 190px" type="text" class="form-control locorg_name"   placeholder="наименование ГРОЧС" name="silymchs[{{i}}][locorg_name]" value="">

                            </td>

                            <td>
                                <input type="text" class="form-control v_ac" onkeypress="allowFloat();"  placeholder="" name="silymchs[{{i}}][v_ac]" value="">
                            </td>


                            <td>
                                <input style="width: 70px" type="number" min="0" class="form-control man_per_car"   placeholder="" name="silymchs[{{i}}][man_per_car]" value="">
                            </td>


                            <td>

                                <input type="time" class="form-control time_exit" onchange="setTimeFollow(this);"   placeholder="" name="silymchs[{{i}}][time_exit]" value="">
                            </td>
                            <td>
                                <input type="time" class="form-control time_arrival" onchange="setTimeFollow(this);"   placeholder="" name="silymchs[{{i}}][time_arrival]" value="">


            <input  type="checkbox" class="is_return" name="silymchs[{{i}}][is_return]"  value="1" data-numb="{{i}}"   onChange='returnTeh(this);' >
            <label for="is_return">
                возврат
            </label>


                            </td>


                            <td>


                                <input type="number" class="form-control time_follow" min="0"   placeholder="" name="silymchs[{{i}}][time_follow]" value="">


                            </td>


                            <td>

                                <input type="text" class="form-control  distance" onkeypress="allowFloat();"  placeholder="" name="silymchs[{{i}}][distance]" value="">

                            </td>


                            <td>

                                <input type="time" class="form-control time_end"   placeholder="" name="silymchs[{{i}}][time_end]" value="">

                            </td>


                            <td>

                                <input type="time" class="form-control time_return"   placeholder="" name="silymchs[{{i}}][time_return]" value="">

                            </td>

                            <td>
                                <input type="hidden" class="id_teh" name="silymchs[{{i}}][id_teh]">
                                <a href="#" class="del-teacher delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку" ><i class="fa fa-times" aria-hidden="true" ></i></a>
                            </td>
                        </tr>


                    </tbody>


                {%endif%}
            </table>
        </div>

        <a href="#" id="add_teacher" >+  добавить еще</a>


        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>