<div class="card" id="div-str">
    <div class="card-header" style="background-color: #d9edf7">
        Сведения по строевой записке (возможность ручной корректировки)

        &nbsp;&nbsp;
        <a href="#" id="a-search-str" data-toggle="modal"  data-target="#modal-search-str-inf" data-url="" data-toggle="tooltip" data-placement="right" title="Поиск строевой записки по личному составу">
            <i class="fa fa-search" aria-hidden="true" id="search-str-inf"></i>
        </a>

        &nbsp;&nbsp;
        <button type="button"  class="btn btn-danger btn-sm refresh-str" data-url="{{base_url('/dones/refresh_str/1')}}" data-action="1" data-toggle="modal"  data-target="#modal-str-refresh"  data-toggle="tooltip" data-placement="top" title="Получить данные за предыдущую смену"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-success btn-sm refresh-str" data-url="{{base_url('/dones/refresh_str/2')}}" data-action="2" data-toggle="modal"  data-target="#modal-str-refresh"  data-toggle="tooltip" data-placement="top" title="Получить актуальные данные"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>



                {#<label for="str_is_not_involved" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>#}
                &nbsp;&nbsp;&nbsp;
        <div class="checkbox checkbox-danger" style='display:inline'>
            <input  type="checkbox" name="is_not_involved_str" value="1"  id='str_is_not_involved' onChange='notEnvolve("div-str", this);' {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_str == 1 %}checked{%endif%}>
            <label for="str_is_not_involved">
                Строевая отсутствует
            </label>
        </div>



    </div>
    <!-- /.panel-heading -->
    <div class="card-body">
        {#{{dump(str)}}#}
        <div class="table-responsive table-bordered">
            <table class="table table-str" >
                <thead>
                    <tr >
                        <th rowspan="3" >#</th>
                        <th rowspan="3" ></th>
                        <th rowspan="3" colspan="2">Наименование подразделения</th>
                        <th colspan="12">Строевая записка по личному составу</th>

                    </tr>
                    <!-- строка 2 -->
                    <tr>
                        <th colspan="2">Подразделения</th>
                        <th colspan="10">Дежурной смены</th>

                    </tr>
                    <tr>

                        <th>По<br>штату</th>
                        <th>Вакант</th>
                        <th>По<br>списку<br>в деж.<br>смене</th>
                        <th>Вакансия<br>в деж.<br>смене</th>
                        <th>Налицо</th>
                        <th>В<br>боевом<br>расчете</th>
                        <th>Ком-ка</th>
                        <th>Отпуск</th>
                        <th>Больные</th>
                        <th>Наряд <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Ф.И.О. могут быть не указаны в блоке подробного описания ниже"></i></th>
                        <th>Др.<br>причины</th>
                        <th>ГДЗС, чел</th>
                    </tr>

                </thead>
                <tbody style="border-top:none">
                    {%set x=1%}
                    {% if (str.table is defined  and str.table is not empty) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str is defined and dones.str is not empty) %}

                        {% if str.table is defined  and str.table is not empty %}

                            {%set arr_str=str.table%}

                        {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str is defined and dones.str is not empty%}
                            {%set arr_str=dones.str%}
                        {%endif%}

                    <tbody>

                        {%for st in arr_str %}

                            {% if str.table is defined  and str.table is not empty %}

                                {%set x=loop.index%}

                            {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str is defined and dones.str is not empty%}
                                {%set x=st.sort%}
                            {%endif%}

                            <tr class="str_row" id="str_id_row{{x}}" data-loop="{{x}}">
                                <td class="loop-index">{{x}}</td>

                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                        <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                    </div>
                                    <input type="hidden" class="sort" name="str[{{x}}][sort]" value="{{x}}">
                                </td>

                                <td>
                                    {%set podr_name=''%}
                                    {%if st.pasp_name_spec is defined and st.pasp_name_spec is not empty %}
                                        {%set podr_name=st.pasp_name_spec%}
                                    {%endif%}
                                    {%if st.locorg_name_spec is defined and st.locorg_name_spec is not empty %}
                                        {%set podr_name=podr_name~' '~st.locorg_name_spec%}
                                    {%endif%}

                                    <input style="width: 120px" type="text" class="form-control  str_pasp_name "   placeholder="часть" name="str[{{x}}][pasp_name]" value="{%if str.table is defined and st.pasp_name_spec is defined and st.pasp_name_spec is not empty %}{{st.pasp_name_spec|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and st.pasp_name is defined%}{{st.pasp_name|trim}}{%endif%}">

                                </td>


                                <td>
                                    <input style="width: 190px" type="text" class="form-control  str_locorg_name "   placeholder="наименование ГРОЧС" name="str[{{x}}][locorg_name]" value="{%if str.table is defined and st.locorg_name_spec is defined and st.locorg_name_spec is not empty %}{{st.locorg_name_spec|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and st.locorg_name is defined%}{{st.locorg_name|trim}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_shtat"   placeholder="" name="str[{{x}}][shtat]" value="{%if st.shtat is defined and st.shtat is not empty %}{{st.shtat}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_vacant"   placeholder="" name="str[{{x}}][vacant]" value="{%if st.vacant is defined and st.vacant is not empty %}{{st.vacant}}{%endif%}">
                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_on_list_ch"   placeholder="" name="str[{{x}}][on_list_ch]" value="{%if st.on_list_ch is defined and st.on_list_ch is not empty %}{{st.on_list_ch}}{%endif%}">

                                </td>
                                <td>
                                    <input type="number" min="0" class="form-control str_vacant_ch"   placeholder="" name="str[{{x}}][vacant_ch]" value="{%if st.vacant_ch is defined and st.vacant_ch is not empty %}{{st.vacant_ch}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_face_ch"   placeholder="" name="str[{{x}}][face_ch]" value="{%if st.face_ch is defined and st.face_ch is not empty %}{{st.face_ch}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_br_ch"   placeholder="" name="str[{{x}}][br_ch]" value="{%if st.br_ch is defined and st.br_ch is not empty %}{{st.br_ch}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_trip_ch"   placeholder="" name="str[{{x}}][cnt_trip_man]" value="{%if st.cnt_trip_man is defined and st.cnt_trip_man is not empty %}{{st.cnt_trip_man}}{%endif%}">

                                </td>
                                <td>
                                    <input type="number" min="0" class="form-control str_holiday_ch"   placeholder="" name="str[{{x}}][cnt_holiday_man]" value="{%if st.cnt_holiday_man is defined and st.cnt_holiday_man is not empty %}{{st.cnt_holiday_man}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_ill_ch"   placeholder="" name="str[{{x}}][cnt_ill_man]" value="{%if st.cnt_ill_man is defined and st.cnt_ill_man is not empty %}{{st.cnt_ill_man}}{%endif%}">

                                </td>

                                <td>
                                    <input  type="number" min="0" class="form-control str_duty_ch"   placeholder="" name="str[{{x}}][cnt_naryd]" value="{%if st.cnt_naryd is defined and st.cnt_naryd is not empty %}{{st.cnt_naryd}}{%endif%}">

                                </td>

                                <td>
                                    <input type="number" min="0" class="form-control str_other_ch"   placeholder="" name="str[{{x}}][cnt_other_man]" value="{%if st.cnt_other_man is defined and st.cnt_other_man is not empty %}{{st.cnt_other_man}}{%endif%}">

                                </td>


                                <td>
                                    <input type="number" min="0" class="form-control str_gdzs_ch"   placeholder="" name="str[{{x}}][gas]" value="{%if st.gas is defined and st.gas is not empty %}{{st.gas}}{%endif%}">

                                </td>


                                <td>
                                    <input type="hidden" class="id_pasp" name="str[{{x}}][id_pasp]" value="{%if st.id_pasp is defined and st.id_pasp is not empty %}{{st.id_pasp}}{%endif%}">

                                    {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined  and st.id is defined %}
                                        <input type="hidden" class="id_str" name="str[{{x}}][id_str]" value="{{st.id}}">
                                    {%endif%}

                                    <a href="#" class="del-str-row delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку"  ><i class="fa fa-times" aria-hidden="true"></i></a>
                                </td>
                            </tr>

                        {%endfor%}
                    </tbody>

                {%else%}
                    {%set i=1%}
                    {%set x=i%}
                    <tbody>

                        <tr class="str_row" id="str_id_row{{i}}" data-loop="{{i}}">
                            <td class="loop-index">{{i}}</td>


                            <td>
                                <div class="btn-group btn-group-xs">
                                    <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                    <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                </div>
                                <input type="hidden" class="sort" name="str[{{i}}][sort]" value="{{i}}">
                            </td>

                            <td>

                                <input style="width: 120px" type="text" class="form-control  str_pasp_name str-list"   placeholder="часть" name="str[{{i}}][pasp_name]" >

                            </td>


                            <td>

                                <input style="width: 190px" type="text" class="form-control  str_locorg_name str-list"   placeholder="наименование ГРОЧС" name="str[{{i}}][locorg_name]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_shtat"   placeholder="" name="str[{{i}}][shtat]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_vacant"   placeholder="" name="str[{{i}}][vacant]" >
                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_on_list_ch"   placeholder="" name="str[{{i}}][on_list_ch]" >

                            </td>
                            <td>
                                <input type="number" min="0" class="form-control str_vacant_ch"   placeholder="" name="str[{{i}}][vacant_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_face_ch"   placeholder="" name="str[{{i}}][face_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_br_ch"   placeholder="" name="str[{{i}}][br_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_trip_ch"   placeholder="" name="str[{{i}}][trip_ch]" >

                            </td>
                            <td>
                                <input type="number" min="0" class="form-control str_holiday_ch"   placeholder="" name="str[{{i}}][holiday_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_ill_ch"   placeholder="" name="str[{{i}}][ill_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_duty_ch"   placeholder="" name="str[{{i}}][duty_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_other_ch"   placeholder="" name="str[{{i}}][other_ch]" >

                            </td>

                            <td>
                                <input type="number" min="0" class="form-control str_gdzs_ch"   placeholder="" name="str[{{i}}][gdzs_ch]" >

                            </td>

                            <td>
                                <input type="hidden" class="id_pasp" name="str[{{i}}][id_pasp]" >
                                <a href="#" class="del-str-row delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку"  ><i class="fa fa-times" aria-hidden="true" ></i></a>
                            </td>
                        </tr>


                    </tbody>


                {%endif%}
                </tbody>

            </table>
        </div>
        <a href="#" id="add-row-str-tr" >+  добавить еще</a>

        <br><br>

        <div id="str-text">

            <table class="table table-borderless" >

                {%set x=1%}
                {% if (str.table is defined  and str.table is not empty) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str_text is defined and dones.str_text is not empty)  %}


                    {% if str.table is defined  and str.table is not empty %}

                        {%set arr_str_text=str.table%}

                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str_text is defined and dones.str_text is not empty%}
                        {%set arr_str_text=dones.str_text%}
                    {%endif%}

                    <tbody>
                        {%for st in arr_str_text %}

                            {% if str.table is defined  and str.table is not empty %}

                                {%set x=loop.index%}

                            {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str_text is defined and dones.str_text is not empty%}
                                {%set x=st.sort%}
                            {%endif%}



                            <tr class="str_text_row" id="str_text_id_row{{x}}" data-loop="{{x}}">


                                <td style="width: 30px">
                                    <div class="btn-group btn-group-xs">
                                        <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                        <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                    </div>
                                    <input type="hidden" class="sort" name="str_text[{{x}}][sort]" value="{{x}}">
                                </td>

                                <td>
                                    {%set podr_name=''%}
                                    {%if str.table is defined  and str.table is not empty%}
                                        {%if st.pasp_name_spec is defined and st.pasp_name_spec is not empty %}
                                            {%set podr_name=st.pasp_name_spec%}
                                        {%endif%}
                                        {%if st.locorg_name_spec is defined and st.locorg_name_spec is not empty %}
                                            {%set podr_name=podr_name~' '~st.locorg_name_spec%}
                                        {%endif%}

                                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str_text is defined and dones.str_text is not empty%}
                                        {%set podr_name=st.str_text_podr_name%}
                                    {%endif%}

                                    <input  type="text" class="form-control str_text_podr_name "   placeholder="часть наименование ГРОЧС" name="str_text[{{x}}][str_text_podr_name]" value="{%if podr_name is defined and podr_name is not empty %}{{podr_name|trim}}{%endif%}">



                                    {%set inf=''%}
                                    {%if st.non_available is defined and st.non_available is not empty%}

                                        {%set cnt=st.non_available|length%}
                                        {%for trip in st.non_available %}

                                            {%if inf is empty%}

                                                {%if loop.index == cnt%}
                                                    {%set inf=trip|trim~'.'%}
                                                {%else%}
                                                    {%set inf=trip|trim~';'%}
                                                {%endif%}


                                            {%else%}
                                                {%if loop.index == cnt%}
                                                    {%set inf=inf~'\n'~trip|trim~'.'%}
                                                {%else%}
                                                    {%set inf=inf~'\n'~trip|trim~';'%}
                                                {%endif%}


                                            {%endif%}

                                        {%endfor%}
                                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.str_text is defined and dones.str_text is not empty%}
                                        {%set inf=st.str_text_description%}
                                    {%endif%}




                                    <textarea class="form-control str_text_descr" name="str_text[{{x}}][str_text_description]"  rows="8" cols="3">{%if inf is defined and inf is not empty%}{{inf}}{%endif%}</textarea>

                                </td>


                                <td style="padding-top: 50px;">
                                    <input type="hidden" class="id_pasp_text" name="str_text[{{x}}][id_pasp]"  value="{%if st.id_pasp is defined and st.id_pasp is not empty %}{{st.id_pasp}}{%endif%}">

                                    {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined  and st.id is defined %}
                                        <input type="hidden" class="id_str" name="str_text[{{x}}][id_str_text]" value="{{st.id}}">
                                    {%endif%}

                                    <a href="#" class="del-str-text-row delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку"  ><i class="fa fa-times" aria-hidden="true"></i></a>
                                </td>
                            </tr>




                        {%endfor%}
                    </tbody>

                {%else%}
                    {%set i=1%}
                    {%set x=i%}


                    <tbody>

                        <tr class="str_text_row" id="str_text_id_row{{i}}" data-loop="{{i}}">


                            <td style=" width: 30px">
                                <div class="btn-group btn-group-xs">
                                    <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                    <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                </div>
                                <input type="hidden" class="sort" name="str_text[{{i}}][sort]" value="{{i}}">
                            </td>

                            <td>

                                <input  type="text" class="form-control str_text_podr_name "   placeholder="часть наименование ГРОЧС" name="str_text[{{i}}][str_text_podr_name]" value="">

                                <textarea style="white-space: pre-line" class="form-control str_text_descr" name="str_text[{{i}}][str_text_description]"  rows="8" cols="3"></textarea>

                            </td>


                            <td style="padding-top: 50px;">
                                <input type="hidden" class="id_pasp_text" name="str_text[{{i}}][id_pasp]">
                                <a href="#" class="del-str-text-row delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку"  ><i class="fa fa-times" aria-hidden="true" ></i></a>
                            </td>
                        </tr>


                    </tbody>

                {%endif%}

            </table>
            <a href="#" id="add-str-text-row" >+  добавить еще</a>
        </div>

        <!-- /.table-responsive -->

        <br>
        {%include 'create/standart/middle-block/vacant_block.twig'%}

    </div>
    <!-- /.panel-body -->
</div>