<div class="card" id='div-trunks'>
    <div class="card-header" style="background-color: #d9edf7">
        Сведения по подаче стволов
        <label for="trunks_is_not_involved" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="checkbox checkbox-danger" style='display:inline'>
            <input  type="checkbox" name="is_not_involved_trunks" value="1"  id='trunks_is_not_involved' onChange='notEnvolve("div-trunks", this);' {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_trunks == 1 %}checked{%endif%}>
            <label for="trunks_is_not_involved">
                Подача стволов не выполнялось
            </label>
        </div>


        <label for="trunks_is_wide_table" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="checkbox checkbox-warning" style='display:inline'>
            <input  type="checkbox" name="is_wide_table_trunks" value="1"  id='trunks_is_wide_table' {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_wide_table_trunks == 1 %}checked{%endif%} {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_trunks == 1 %}disabled{%endif%}>
            <label for="trunks_is_wide_table">
                Расширенная таблица в Word
            </label>
        </div>


    </div>
    <!-- /.panel-heading -->
    <div class="card-body" id="trunks-block">

        {#{{dump(rig.trunks)}}#}
        <div class="table-responsive table-bordered">
            <table class="table" >
                <thead>
                    <tr >
                        <th rowspan="2" >#</th>
                        <th rowspan="2" ></th>
                        <th rowspan="2">Техника</th>
                        <th rowspan="2" colspan="2" >Наименование подразделения</th>
                        <th rowspan="2" >Объем цистерны<br>(тонн)</th>
                        <th rowspan="2" style="width: 168px">Кол-во л/с<br>(чел.) <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Данные за последнюю заступившую смену"></i></th>
                        <th colspan="2">Прибыте</th>
                        <th>Подача стволов</th>
                        <th rowspan="2" style="width:300px" >Средства тушения<br>(кол-во, тип)</th>
                        <th rowspan="2" style="width:150px" >Израсходо-<br>вано<br>воды/ПО<br>(тонн)</th>
                        <th colspan="2">Локализация</th>
                        <th>Ликвидация</th>

                    </tr>
                    <!-- строка 2 -->
                    <tr>

                        <th>Время</th>
                        <th style="width: 140px">S пож. <br>(кв.м) <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Ячейка общая для всего столбца"></i></th>
                        <th>Время</th>
                        <th>Время <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Ячейка общая для всего столбца"></i></th>
                        <th style="width: 140px">S пож. <br>(кв.м) <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Ячейка общая для всего столбца"></i></th>
                        <th>Время <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Ячейка общая для всего столбца"></i></th>

                    </tr>


                </thead>

                {%set x=1%}
                {% if (rig is defined and rig.trunks is defined and rig.trunks is not empty) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_trunks == 0 and dones.trunks is defined and dones.trunks is not empty)  %}

                    {% if rig is defined and rig.trunks is defined and rig.trunks is not empty%}

                        {%set arr_trunks=rig.trunks%}

                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_trunks == 0 and dones.trunks is defined and dones.trunks is not empty%}
                        {%set arr_trunks=dones.trunks%}
                    {%endif%}


                    <tbody>

                        {%for trunk in arr_trunks %}

                            {% if rig is defined and rig.trunks is defined and rig.trunks is not empty%}

                                {%set x=loop.index%}

                            {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_trunks == 0 and dones.trunks is defined and dones.trunks is not empty%}
                                {%set x=trunk.sort%}
                            {%endif%}

                            <tr class="trunks_row" id="trunks_row_id{{x}}" data-loop="{{x}}">
                                <td class="loop-index">{{x}}</td>

                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                        <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                    </div>
                                    <input type="hidden" class="sort" name="trunks[{{x}}][sort]" value="{{x}}">
                                </td>


                                <td>

                                    <input  style="width: 190px" type="text" class="form-control  mark_trunks"   placeholder="АЦ 5,0-50/4(533702)" name="trunks[{{x}}][mark]" value="{%if trunk.mark is defined %}{{trunk.mark|trim}}{%endif%}">


                                    <i class="fa fa-paperclip actions_ls_btn_trunks {%if (is_edit_dones is defined and is_edit_dones == 1 and dones.is_wide_table_trunks == 0) or (is_edit_dones is not defined)%} hide {%endif%}  " aria-hidden="true" id="actions_ls_btn_trunks-{{x}}" style="color:{%if trunk.actions_ls is defined and trunk.actions_ls is not empty %}green{%endif%}" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{%if trunk.actions_ls is defined and trunk.actions_ls is not empty %}Действия л/с: {{trunk.actions_ls|trim}}{%else%}Внести действия л/с{%endif%}"></i>
                                    <input  style="width: 190px" type="text" class="form-control  actions_ls_trunks hide"   placeholder="действия личного состава" name="trunks[{{x}}][actions_ls]" value="{%if trunk.actions_ls is defined %}{{trunk.actions_ls|trim}}{%endif%}">
                                </td>
                                <td>

                                    <input  style="width: 120px" type="text" class="form-control pasp_name_trunks"   placeholder="ПАСЧ-1" name="trunks[{{x}}][pasp_name]" value="{%if rig is defined and trunk.pasp_name_spec is defined and trunk.pasp_name_spec is not empty %}{{trunk.pasp_name_spec|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and trunk.pasp_name is defined%}{{trunk.pasp_name|trim}}{%endif%}">

                                </td>

                                <td>

                                    <input type="text"  style="width: 190px" class="form-control locorg_name_trunks"   placeholder="Ленинского РОЧС" name="trunks[{{x}}][locorg_name]" value="{%if rig is defined and trunk.locorg_name_spec is defined and trunk.locorg_name_spec is not empty %}{{trunk.locorg_name_spec|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and trunk.locorg_name is defined%}{{trunk.locorg_name|trim}}{%endif%}">

                                </td>


                                <td>
                                    <input type="text" class="form-control v_ac_trunks" onkeypress="allowFloat();"  placeholder="" name="trunks[{{x}}][v_ac]" value="{%if trunk.v_ac is defined and trunk.v_ac is not empty%}{{(trunk.v_ac/1000)|number_format(1)}}{%endif%}">
                                </td>


                                <td>
                                    <input type="number" min="0" class="form-control man_per_car_trunks"   placeholder="" name="trunks[{{x}}][man_per_car]" value="{%if trunk.man_per_car is defined and trunk.man_per_car is not empty%}{{trunk.man_per_car}}{%endif%}">
                                </td>


                                <td>
                                    {%set time_arrival=''%}
                                    {% if trunk.time_arrival is not empty and trunk.time_arrival is not null and trunk.time_arrival != '0000-00-00 00:00:00' %}
                                        {%set time_arrival=trunk.time_arrival%}
                                    {%endif%}
                                    <input type="time" class="form-control time_arrival_trunks"   placeholder="" name="trunks[{{x}}][time_arrival]" value="{%if time_arrival is not empty%}{{time_arrival|date('H:i')}}{%endif%}">

                                </td>


                                <td>
                                    <input style="width: 80px" type="text" type="text" class="form-control s_fire_arrival_trunks" onkeypress="allowFloat();" onkeyup="setSFire(this);" onchange="setSFire(this);"  placeholder="" name="trunks[{{x}}][s_fire_arrival]" value="{%if rig is defined and trunk.s_bef is defined and trunk.s_bef is not empty %}{{trunk.s_bef|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and trunk.s_fire_arrival is defined%}{{trunk.s_fire_arrival|trim}}{%endif%}">
                                </td>

                                <td>
                                    <input type="time" class="form-control time_pod_trunks"   placeholder="" name="trunks[{{x}}][time_pod]" value="{%if trunk.time_pod is defined and  trunk.time_pod is not empty%}{{trunk.time_pod|date('H:i')}}{%endif%}">

                                </td>

                                <td>
                                    {%set means=''%}
                                    {% if rig is defined %}
                                        {%if trunk.cnt is defined and  trunk.cnt is not empty%}
                                            {%set means=trunk.cnt|trim%}
                                        {%endif%}
                                        {%if trunk.trunk_name is defined and  trunk.trunk_name is not empty%}
                                            {%set means=means~' '~trunk.trunk_name|trim%}
                                        {%endif%}
                                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and trunk.means_trunks is defined%}
                                        {%set means=trunk.means_trunks|trim%}
                                    {%endif%}

                                    <input style="width: 190px" type="text" class="form-control means_trunks"   placeholder="" name="trunks[{{x}}][means_trunks]" value="{%if means is not empty%}{{means|trim}}{%endif%}">
                                </td>

                                <td>
                                    <input type="text" class="form-control water_po_out_trunks" onkeypress="allowFloatTrunks();"  placeholder="" name="trunks[{{x}}][water_po_out]" value="{%if rig is defined and  trunk.water is defined and  trunk.water is not empty%}{{trunk.water|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and trunk.water_po_out is defined%}{{trunk.water_po_out|trim}}{%endif%}">
                                </td>


                                <td>
                                    <input type="time" class="form-control time_loc_trunks"   onchange="setTimeFireLoc(this);" placeholder="" name="trunks[{{x}}][time_loc]" value="{%if trunk.time_loc is defined and trunk.time_loc is not empty and trunk.time_loc is not null and trunk.time_loc != '0000-00-00 00:00:00'%}{{trunk.time_loc|date('H:i')}}{%endif%}">

                                </td>


                                <td>
                                    <input style="width: 80px" type="text" class="form-control s_fire_loc_trunks" onkeyup="setSFireLoc(this);" onchange="setSFireLoc(this);" onkeypress="allowFloat();"  placeholder="" name="trunks[{{x}}][s_fire_loc]" value="{%if rig.s_loc is defined %}{{rig.s_loc|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and trunk.s_fire_loc is defined%}{{trunk.s_fire_loc|trim}}{%endif%}">
                                </td>


                                <td>
                                    <input type="time" class="form-control time_likv_trunks"  onchange="setTimeFireLikv(this);"   placeholder="" name="trunks[{{x}}][time_likv]" value="{%if trunk.time_likv is defined and trunk.time_likv is not empty and trunk.time_likv is not null and trunk.time_likv != '0000-00-00 00:00:00'%}{{trunk.time_likv|date('H:i')}}{%endif%}">

                                </td>



                                <td>
                                    <input type="hidden" class="id_teh" name="trunks[{{x}}][id_teh]" value="{%if trunk.id_teh is defined and trunk.id_teh is not empty %}{{trunk.id_teh}}{%endif%}">

                                    {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_not_involved_trunks == 0 and trunk.id is defined %}
                                        <input type="hidden" class="id_trunks" name="trunks[{{x}}][id_trunks]" value="{{trunk.id}}">
                                    {%endif%}

                                    <a href="#" class="del-row-trunks delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку" ><i class="fa fa-times" aria-hidden="true" ></i></a>
                                </td>
                            </tr>

                        {%endfor%}


                    </tbody>
                {%else%}
                    {%set i=1%}
                    {%set x=i%}
                    <tbody>

                        <tr class="trunks_row" id="trunks_row_id{{i}}" data-loop="{{i}}">
                            <td class="loop-index">{{i}}</td>

                            <td>
                                <div class="btn-group btn-group-xs">
                                    <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                    <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                                </div>
                                <input type="hidden" class="sort" name="trunks[{{i}}][sort]" value="{{i}}">
                            </td>

                            <td>

                                <input  style="width: 190px" type="text" class="form-control  mark_trunks"   placeholder="АЦ 5,0-50/4(533702)" name="trunks[{{i}}][mark]" value="">

                                 <i class="fa fa-paperclip actions_ls_btn_trunks hide" aria-hidden="true" id="actions_ls_btn_trunks-{{x}}" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Внести действия л/с"></i>
                                    <input  style="width: 190px" type="text" class="form-control  actions_ls_trunks hide"   placeholder="действия личного состава" name="trunks[{{x}}][actions_ls]">
                            </td>
                            <td>

                                <input  style="width: 120px" type="text" class="form-control pasp_name_trunks"   placeholder="ПАСЧ-1" name="trunks[{{i}}][pasp_name]" value="">

                            </td>


                            <td>

                                <input  style="width: 190px" type="text" class="form-control locorg_name_trunks"   placeholder="Ленинского РОЧС" name="trunks[{{i}}][locorg_name]" value="">

                            </td>


                            <td>
                                <input type="text" class="form-control v_ac_trunks" onkeypress="allowFloat();"  placeholder="" name="trunks[{{i}}][v_ac]" value="">
                            </td>


                            <td>
                                <input type="number" min="0" class="form-control man_per_car_trunks"   placeholder="" name="trunks[{{i}}][man_per_car]" value="">
                            </td>


                            <td>
                                <input type="time" class="form-control time_arrival_trunks"   placeholder="" name="trunks[{{i}}][time_arrival]" value="">

                            </td>


                            <td>
                                <input style="width: 80px" type="text" type="text" class="form-control s_fire_arrival_trunks" onkeypress="allowFloat();" onkeyup="setSFire(this);" onchange="setSFire(this);"  placeholder="" name="trunks[{{i}}][s_fire_arrival]" value="">
                            </td>

                            <td>
                                <input type="time" class="form-control time_pod_trunks"   placeholder="" name="trunks[{{i}}][time_pod]" value="">

                            </td>

                            <td>
                                <input style="width: 140px" type="text" class="form-control means_trunks"   placeholder="" name="trunks[{{i}}][means_trunks]" value="">
                            </td>

                            <td>
                                <input type="text" class="form-control water_po_out_trunks" onkeypress="allowFloatTrunks();"  placeholder="" name="trunks[{{i}}][water_po_out]" value="">
                            </td>


                            <td>
                                <input type="time" class="form-control time_loc_trunks"  onchange="setTimeFireLoc(this);"   placeholder="" name="trunks[{{i}}][time_loc]" value="">

                            </td>


                            <td>
                                <input style="width: 80px" type="text" type="text" class="form-control s_fire_loc_trunks" onkeyup="setSFireLoc(this);" onchange="setSFireLoc(this);" onkeypress="allowFloat();"  placeholder="" name="trunks[{{i}}][s_fire_loc]" value="">
                            </td>


                            <td>
                                <input type="time" class="form-control time_likv_trunks"   onchange="setTimeFireLikv(this);"  placeholder="" name="trunks[{{i}}][time_likv]" value="">

                            </td>



                            <td>
                                <input type="hidden" class="id_teh" name="trunks[{{i}}][id_teh]" >
                                <a href="#" class="del-row-trunks delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку" ><i class="fa fa-times" aria-hidden="true" ></i></a>
                            </td>
                        </tr>


                    </tbody>


                {%endif%}
            </table>
        </div>
        <a href="#" id="add-row-trunks-tr" >+  добавить еще</a>


    </div>
    <!-- /.panel-body -->
</div>