{#  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="введите слово" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>#}

{%if is_edit_dones is not defined and is_timer is defined and is_timer == 1  %}
    <div class="col-sm-4">
        {%include '/create/timer.twig'%}
    </div>
{%endif%}

{%if is_show_btn_search_rig is defined and is_show_btn_search_rig == 1%}
    <a href="#" data-toggle="modal"  data-target="#modal-search-rig" data-url="" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true" id="search-rig"></i> Поиск выезда</button>

    </a>
{%endif%}
<li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle custom-a {%if active_user.is_guest == 1%} guest-user {%endif%}" data-toggle="dropdown">
        <i class="fa fa-user {%if active_user.is_guest == 1%} guest-user {%endif%}"></i>
        <span class="hidden-xs ">{{active_user.auth_fio}}</span>
    </a>
    <ul class="dropdown-menu login-window">

        <li class="user-header">

            <p>
                <a href="#" class=" custom-a" data-toggle="modal" data-target="#modal-spravka" style="float: left;" data-toggle="tooltip" data-placement="right" title="Справка" >
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>
                {{active_user.auth_organ}}<br>


                <small class="title-user">
                    {%if active_user.is_guest == 1%}
                        <span class="{%if active_user.is_guest == 1%} guest-user {%endif%}" >Вы авторизованы как Гость</span>
                        <br>
                    {%endif%}
                    <span class="header_auth_user">Уровень:</span> {{active_user.level_name}}<br>
                    <span class="header_auth_user">Звание:</span> {{active_user.rank_name}}<br>
                    <span class="header_auth_user">Должность:</span> {{active_user.position_name}}<br>
                    <span class="header_auth_user">Право создавать/ред.спец.донесения:</span> {% if active_user.can_edit == 1 %} да {%else%} нет {%endif%}<br>
                    <span class="header_auth_user">Права администратора:</span> {{active_user.admin_name}}
                </small>


            </p>


        </li>


        <li class="user-footer">
            <div >
                <center><a href="{{ base_url('/auth/logout')}}" class="btn btn-logout">Выйти</a></center>
            </div>
        </li>
    </ul>
</li>