<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <script>
            {# window.onload = function() {setTimeout(function(){document.body.style.opacity="100";},0);};#}
                window.onload = function () {
                    document.body.style.opacity = "100";
                };
        </script>

        <link rel="shortcut icon" href="{{ base_url('/favicon.ico')}}" type="image/png">

        <!-- css -->
        <link rel="stylesheet" href="{{ base_url('/assets/libs/bootstrap-4.3.1/css/bootstrap.min.css') }}" type="text/css" />
        <!-- <link rel="shortcut icon" href="/assets/rostelecom/img/favicon.png" type="image/png"> -->

        <link rel="stylesheet" href="{{ base_url('/assets/js/chosen/chosen.css')}}">
        <link rel="stylesheet" href="{{ base_url('assets/font-awesome/css/font-awesome.min.css') }}">

        <link href="{{ base_url('assets/libs/toastr/css/toastr.min.css') }}" rel="stylesheet"/>


        <link rel="stylesheet" href="{{ base_url('assets/js/bootstrapValidator/css/bootstrapValidator.min.css') }}">
        {#<link rel="stylesheet" href="{{ base_url('assets/js/select2/select2.min.css') }}">#}
        <link rel="stylesheet" href="{{ base_url('assets/js/select2-4.0.0/select2.min.css') }}">
        <link rel="stylesheet" href="{{ base_url('assets/css/checkbox.css') }}">
        <link rel="stylesheet" href="{{ base_url('assets/css/radiobuttons.css') }}">

        <link rel="stylesheet" href="{{ base_url('assets/css/all.css') }}">

        <link rel="stylesheet" href="{{ base_url('assets/preloader/preloader.css') }}">

    {% block head %}{% endblock %}

    <style> body {
            opacity: 0;
        }</style>
</head>
<body >

    {%include 'preloader.twig'%}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        {% set headerTemplate = sidebar ~ '/header.twig' %}

        {#
         {% if sidebar == 'manager' %}
             {% set headerTemplate = 'student/header.twig' %}
         {% endif %}

         {% include headerTemplate %}
         {% include sidebar ~ '/sidebar.twig' %}#}

        {% include headerTemplate %}


    </nav>


        {%if section !='create_spec_d'%}
            <main role="main" class="main-content">
        {%endif%}

        {% block content %}{% endblock %}

        {%if section !='create_spec_d'%}
        </main>
        {%endif%}


<script src="{{ base_url('/assets/libs/jquery/jquery/dist/jquery.js')}}"></script>
<script src="{{ base_url('assets/libs/toastr/js/toastr.min.js') }}"></script>
<script src="{{ base_url('/assets/libs/bootstrap-4.3.1/js/popper.min.js')}}"></script>
<script src="{{ base_url('/assets/libs/bootstrap-4.3.1/js/bootstrap.min.js')}}"></script>

<script src="{{ base_url('/assets/js/bootstrapValidator/js/bootstrapValidator.min.js')}}"></script>
<script src="{{ base_url('/assets/js/chosen/chosen.jquery.min.js')}}"></script>

{#<script src="{{ base_url('/assets/js/select2/select2.min.js')}}"></script>#}
<script src="{{ base_url('/assets/js/select2-4.0.0/select2.min.js')}}"></script>
<script src="{{ base_url('/assets/js/jquery.chained.min.js')}}"></script>


<script src="{{ base_url('/assets/js/all.js')}}"></script>

<script src="{{ base_url('/assets/preloader/preloader.js')}}"></script>

<script>

</script>


{% block footer %}{% endblock %}



</body>
</html>


