{% extends 'layout.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!-- content -->




{% include 'creator/catalog/catalog_head.twig' %}



{% include 'creator/catalog/umchs/list_filter.twig' %}


{%if active_user.id_organ == 8%}

    {#{% include 'creator/catalog/umchs/rosn/list.twig' %}#}
{%elseif active_user.id_organ == 9%}
    {#{% include 'creator/catalog/umchs/ugz/list.twig' %}#}
{%elseif active_user.id_organ == 12%}
    {#{% include 'creator/catalog/umchs/avia/list.twig' %}#}
{%else%}
        <div id="inner_content">
        {% include 'creator/catalog/umchs/list.twig' %}
    </div>
{%endif%}



<!-- .content -->



{% include 'creator/catalog/modals.twig' %}
{% include 'creator/catalog/refuse_sd_modal.twig' %}

{% include 'common/catalog/modal-catalog-media.twig' %}
{% endblock %}




{% block head %}
<link rel="stylesheet" href="{{ base_url('assets/datatables/jquery.dataTables.css') }}">
<link rel="stylesheet" href="{{ base_url('assets/css/history/history.css') }}">
 <link rel="stylesheet" href="{{ base_url('/assets/css/catalog/media.css') }}">

 <link href="{{ base_url('/assets/daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block footer %}

{% include 'copyright_footer.twig' %}


  <script src="{{ base_url('/assets/datatables/jquery.dataTables.js')}}"></script>


    <script type="text/javascript"
    src="{{ base_url('assets/daterangepicker/moment.min.js') }}"></script>
    <script type="text/javascript"
    src="{{ base_url('assets/daterangepicker/daterangepicker.js') }}"></script>



  <script src="{{ base_url('/assets/js/creator/catalog.js')}}?{{now|date('H:i:s')}}"></script>
  <script src="{{ base_url('/assets/js/catalog/slider_media_manual.js')}}"></script>


  <script>


        $(function () {


            $('body').on('input', '.input-search-progress', function (e) {
                let $this = $(this);
                let old_val = $this.val();
                let $progress_bar = $this.parent().find('.typing-progress');

                $progress_bar.removeClass('submitting').addClass('typing').stop().css({width: '0'});


                if ($this.parent().hasClass('col-md-2')) {
                    setTimeout(function () {
                        if (old_val === $this.val()) {
                            $progress_bar.animate({width: '98%'}, 1000, function () {
                                $progress_bar.removeClass('typing');
                                update();
                            });
                        }
                    }, 200);
                } else {
                    setTimeout(function () {
                        if (old_val === $this.val()) {
                            $progress_bar.animate({width: '96%'}, 1000, function () {
                                $progress_bar.removeClass('typing');
                                update();
                            });
                        }
                    }, 200);
                }



            });
            $('body').on('keydown', '.input-search-progress', function (e) {
                if (e.keyCode === 13) {
                    let $this = $(this);
                    let $progress_bar = $this.parent().find('.typing-progress');

                    if (!$progress_bar.hasClass('typing')) {
                        $progress_bar.css({width: '0'});
                    }
                    $progress_bar.removeClass('typing').addClass('submitting').stop();

                    if ($this.parent().hasClass('col-md-2')) {
                        $progress_bar.animate({width: '98%'}, 500, function () {
                            $progress_bar.removeClass('submitting');
                            update();
                        });
                    } else {
                        $progress_bar.animate({width: '96%'}, 500, function () {
                            $progress_bar.removeClass('submitting');
                            update();
                        });
                    }


                }
            });
        });



        {#                    $('body').on('click', '.show-calendar .drp-calendar .calendar-table .table-condensed tbody tr td', function (e) {
                    update();
                });#}




        function update() {
            $("#inner_content").html('');
            $('#preload-update-data').css('display', 'block');
            getItemsList();
        }

        function getItemsList() {
            let data = {};
            let myUrl = '{{ base_url("creator/catalog") }}';

            data = $("#catalog-filter").serialize();

            disableFilter();

            $.ajax({
                url: myUrl,
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (res) {
                    $('#preload-update-data').css('display', 'none');
                    enableFilter();
                    if (typeof (res.innerHtml) !== 'undefined') {
                        $(".main-content #inner_content").html($(res.innerHtml));
                        // $(".chzn-select").chosen();
                        enableFilter();
                    }

                }
            });
        }


        function disableFilter() {
            $("#catalog-filter").find('input[type="text"]:not(:hidden)').prop('disabled', 'disabled').css('opacity', '0.5');
            $("#catalog-filter").find('select').prop('disabled', 'disabled').trigger('chosen:updated');
            //$("#courses-filter").find('.chosen-container').css('opacity','0.5');
            //$("#courses-filter").find('input[type="checkbox"]').prop('disabled','disabled').closest('.check-block').css('opacity','0.5');
            $("#catalog-filter").find('.reset_filter').addClass('disabled').css('opacity', '0.5');
        }
        function enableFilter() {
            $("#catalog-filter").find('input[type="text"]:not(:hidden)').prop('disabled', false).css('opacity', '');
            $("#catalog-filter").find('select').prop('disabled', false).trigger('chosen:updated');
            //$("#courses-filter").find('.chosen-container').css('opacity','');
            //$("#courses-filter").find('input[type="checkbox"]').prop('disabled',false).closest('.check-block').css('opacity','');
            $("#catalog-filter").find('.reset_filter').removeClass('disabled').css('opacity', '');
        }


        $('body').on('change', '.filters', function () {
            update();
        });

        $("body").on('click', '.reset_filter:not(.disabled)', function () {
            $("#catalog-filter").find('input[type="text"]:not(:hidden)').val('');
            //$("#catalog-filter").find('select').val('');
            //$("#catalog-filter").find('input[type="checkbox"]').prop('checked',false);
            //          $('#specd_vid').val(10);
            // $('#specd_vid').trigger('change');
            //$('#specd_vid').val("").trigger('change');


            selectbox_in_form = $("#catalog-filter").find('select');
            selectbox_in_form.find('option:selected').removeAttr('selected');
            selectbox_in_form.val('');

            update();

            setTimeout(function () {
                location.reload();
            }, 300);

        });


        $("body").on('click', '.button-filter', function () {



            if ($("#collapseThree").hasClass('show')) {

                $(this).text('Показать фильтр');
                close_filter(0);

            } else {
                $(this).text('Скрыть фильтр');
                close_filter(1);
            }

        });


        function close_filter(is_open) {

            let myUrl = '{{ base_url("creator/catalog/close_filter") }}';


            $.ajax({
                url: myUrl,
                type: 'post',
                data: {'is_open': is_open},
                dataType: 'json',
                success: function (res) {

                }
            });
        }



        $('.only-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            "autoApply": true,
            autoUpdateInput: false,

            locale: {
                format: 'DD.MM.YYYY',
                applyLabel: 'Применить',
                cancelLabel: 'Отменить',
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            }
        });

        $('.only-date').on('apply.daterangepicker', function (event, picker) {
            var date = picker.startDate.format('DD.MM.YYYY');
            $(this).val(date);
            update();
        });




        $(function () {
            $('input[name="date_dones"]').daterangepicker({

                "autoApply": false,
                autoUpdateInput: true,

                opens: 'left',
                locale: {
                    format: 'DD.MM.YYYY',
                    applyLabel: 'Применить',
                    cancelLabel: 'Отменить',
                    "daysOfWeek": [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ],
                    "monthNames": [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ],
                    "firstDay": 1
                }
            }, function (start, end, label) {

                //console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                setTimeout(function () {
                   // update();
                }, 800);
            });


            $('body').on('change', 'input[name="date_dones"]', function (e) {
                update();
            });


            $('input[name="date_dones"]').val('');

        {%if (filter.start_date_dones is defined and filter.start_date_dones is not empty) and (filter.end_date_dones is defined and filter.end_date_dones is not empty)%}

                    $('input[name="date_dones"]').val("{{filter.start_date_dones|date("d.m.Y")}} - {{filter.end_date_dones|date("d.m.Y")}}");

        {%endif%}
                });
      </script>

{% endblock %}

