{#{{dump(outs)}}#}
<table class="table table-condensed table-hover  table-bordered table-custom"  id="catalogUmchsTable">
    <!-- строка 1 -->
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата, номер</th>
             <th>Создатель</th>
            <th>Кр. описание</th>
            <th>Вид</th>
            <th>Подтвердить</th>

            <th>Ред.</th>
            <th>Уд.</th>

            <th>РЦУРЧС</th>
            <th><i class="fa fa-download" aria-hidden="true"></i></th>


        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Дата, номер</th>
             <th>Создатель</th>
            <th>Кр. описание</th>
            <th>Вид</th>
            <th></th>
            <th></th>
            <th></th>


            <th></th>
            <th></th>



        </tr>
    </tfoot>
    {%if outs is defined and outs is not empty%}
        <tbody>

            {% for out in outs %}

                <tr class=" {%if out.type == 1 and out.statuses_id is defined and out.statuses_id is not empty and 4 in out.statuses_id and 6 in out.statuses_id  %} standart-sd-confirm {%elseif out.type == 1 and out.statuses_id is defined and out.statuses_id is not empty and 4 in out.statuses_id %} standart-sd-confirm-umchs {%elseif out.type == 1%} standart-sd-color {%endif%}">
                    <td><a href="#" class="a-custom" data-toggle="modal"  data-target="#history-sd-modal" data-url="{{base_url('history')}}" data-id="{{out.id}}" data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}" >{{out.id}}</a></td>

                    <td> {{out.specd_date ? out.specd_date|date('d.m.Y') : ''}}<br>{{out.specd_number ? '№ '~out.specd_number : ''}}


                        {%if out.author_region_id == active_user.id_region %}

                            <a data-toggle="modal"  data-target="#set-number-sd-modal"
                               data-id="{{out.id}}" data-number="{{out.specd_number}}">
                                <i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer; color: #007bff"></i>
                            </a>

                        {%endif%}


                    </td>

                    <td>{{out.auth_organ}}</td>
                    <td>
                        {%if out.short_description is defined and out.short_description is not empty %}
                            {{out.short_description}}
                        {%else%}
                            {{out.opening_description}}
                        {%endif%}
                    </td>
                    <td>{{out.specd_vid_name}}</td>

                    {#prove#}
                    <td>

                        {%if out.statuses_id is defined and out.statuses_id is not empty %}


                            {%set who=[]%}


                            {%if 4 in out.statuses_id %}

                                {%set detail=out.statuses_detail[4]%}

                            {%elseif 5 in out.statuses_id%}
                                {%set detail=out.statuses_detail[5][active_user.id_user]%}

                            {%endif%}

                            {%if detail.is_guest == 1%}

                                {%if detail.fio_jour is not empty%}
                                    {%set who=who|merge([detail.fio_jour])%}
                                {%endif%}

                                {%if detail.rank_name_jour is not empty%}
                                    {%set who=who|merge([detail.rank_name_jour|lower])%}
                                {%endif%}

                                {%if detail.position_name_jour is not empty%}
                                    {%set who=who|merge([detail.position_name_jour|lower])%}
                                {%endif%}

                            {%else%}
                                {%if detail.fio is not empty%}
                                    {%set who=who|merge([detail.fio])%}
                                {%endif%}

                                {%if detail.rank_name is not empty%}
                                    {%set who=who|merge([detail.rank_name|lower])%}
                                {%endif%}

                                {%if detail.position_name is not empty%}
                                    {%set who=who|merge([detail.position_name|lower])%}
                                {%endif%}

                            {%endif%}


                        {%endif%}




                         {%if out.statuses_id is defined and 4 not in out.statuses_id  %}

                            <a href="#" class="a-non-dec" data-toggle="modal"  data-target="#prove-sd-modal"  data-url="{{base_url('dones/prove/'~out.id)}}" data-sd-id="{{out.id}}" data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                               data-toggle="tooltip" data-placement="top" title="Подтвердить СД">
                                <button class="btn btn-sm btn-success "

                                        style="{%if 5 in out.statuses_id%} background:#89ad91 {%endif%}"
                                        type="button"> <i class="fa fa-check" aria-hidden="true"></i></button>
                            </a>

                        {%endif%}



                        {%if out.statuses_id is defined and 4 not in out.statuses_id  %}
                            {%if  out.statuses_detail[5][active_user.id_user] is defined and  out.statuses_detail[5][active_user.id_user]  %}
                                {%set detail=out.statuses_detail[5][active_user.id_user]%}

                                <a href="#" class="a-non-dec" data-toggle="modal"  data-target="#refuse-sd-modal" data-refresh="1"  data-id="{{out.id}}"
                                   data-number="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                                   data-description-refuse="{{detail.description_refuse}}" aria-hidden="true" data-toggle="tooltip"
                                   data-placement="top" title="Редактировать замечания">
                                    <button class="btn btn-sm btn-secondary "  type="button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                </a>
                            {%else%}

                                <a href="#"  data-toggle="modal" data-refresh="0"  data-target="#refuse-sd-modal"  data-id="{{out.id}}" data-number="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                                   data-description-refuse="" data-toggle="tooltip" data-placement="top" title="Внести замечания">
                                    <button class="btn btn-sm btn-secondary "  type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </a>
                            {%endif%}
                        {%endif%}




                        {%if out.statuses_id is defined and 4 in out.statuses_id  %}
                            {#Функция не доступна. СД подтверждено.#}

                            <a href="#" class="prove-info" data-toggle="modal"  data-target="#detail-prove-sd-modal"
                               data-time="{{out.detail.date_action|date('d.m.Y H:i')}}"
                               data-who="{{who is not empty ? who|join(', ') : ''}}"
                               data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}" >
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Подтверждено
                            </a>


                        {%elseif out.author_region_id != active_user.id_region %}
                            Функция не доступна. Вы не являетесь автором.
                        {%elseif 5 in out.statuses_id%}
                           <br> <br>
                            <a href="#" class="refuse-info" data-toggle="modal"  data-target="#detail-refuse-sd-modal"
                               data-id="{{out.id}}"
                               data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                               data-url="{{base_url('history/detail_refuse_sd')}}" data-level="2">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Замечания
                            </a>




{#                            {%if out.is_other_refuse_cnt is defined and out.is_other_refuse_cnt > 0 %}

                                + {{out.is_other_refuse}}
                                <br><br>
                            {%else%}
                                <br>
                            {%endif%}#}


                        {%endif%}









                    </td>


                    {#refuse#}
{#                    <td>
                        {%if out.author_region_id != active_user.id_region %}
                            Функция не доступна. Вы не являетесь автором.
                        {%elseif  out.statuses_id is defined and 4 in out.statuses_id %}
                            Функция не доступна. СД подтверждено.
                        {%elseif  out.statuses_detail[5][active_user.id_user] is defined and  out.statuses_detail[5][active_user.id_user] %}
                            {%set detail=out.statuses_detail[5][active_user.id_user]%}
                            <a href="#" data-toggle="modal"  data-target="#refuse-sd-modal" data-refresh="1"  data-id="{{out.id}}" data-number="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                               data-description-refuse="{{detail.description_refuse}}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Редактировать замечания">
                                <button class="btn btn-sm btn-secondary "  type="button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                            </a>
                        {%else%}
                            <a href="#" data-toggle="modal" data-refresh="0"  data-target="#refuse-sd-modal"  data-id="{{out.id}}" data-number="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                               data-description-refuse="" data-toggle="tooltip" data-placement="top" title="Внести замечания">
                                <button class="btn btn-sm btn-secondary "  type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </a>
                        {%endif%}
                    </td>#}



                    {#edit#}
                    <td>
                        {%if out.is_open_update == 0 and out.statuses_id is defined and 6 in out.statuses_id %}
                              <a href="{{base_url('dones/edit_form_standart/'~out.id)}}" class="a-non-dec" data-toggle="tooltip" data-placement="top" title="Просмотреть СД">
                                <button class="btn btn-sm btn-disabled" type="button"><i class="fa fa-eye" aria-hidden="true"  style="color:blue"></i></button>
                            </a>

                        {%elseif out.author_region_id != active_user.id_region %}

                            <i class="fa fa-ban" style="color: red" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Функция не доступна. Вы не являетесь автором."></i>

                             {%else%}
                                   <a href="{{base_url('dones/edit_form_standart/'~out.id)}}" class="a-non-dec">
                                <button class="btn btn-sm {%if out.is_open_update == 1%}btn-warning{%else%}btn-success {%endif%} " type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </a>

                        {%endif%}
                    </td>


                    {#delete#}
                    <td>

                        {%if out.is_open_update == 0 and out.statuses_id is defined and  6 in out.statuses_id %}
                            <i class="fa fa-ban" style="color: red" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Функция не доступна. СД подтверждено."></i>

                        {%elseif out.author_region_id != active_user.id_region %}
                            Функция не доступна. Вы не являетесь автором.
                        {%else%}
                            <a href="#" data-toggle="modal"  data-target="#delete-sd-modal" data-url="{{base_url('dones/delete_sd/'~out.id)}}" data-sd-id="{{out.id}}" data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}" >
                                <button class="btn btn-sm btn-danger "  type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </a>
                        {%endif%}


                    </td>

                   {# <td>

                        {%if out.statuses_id is defined and out.statuses_id is not empty %}


                            {%set who=[]%}


                            {%if 4 in out.statuses_id %}

                                {%set detail=out.statuses_detail[4]%}

                            {%elseif 5 in out.statuses_id%}
                                {%set detail=out.statuses_detail[5][active_user.id_user]%}

                            {%endif%}

                            {%if detail.is_guest == 1%}

                                {%if detail.fio_jour is not empty%}
                                    {%set who=who|merge([detail.fio_jour])%}
                                {%endif%}

                                {%if detail.rank_name_jour is not empty%}
                                    {%set who=who|merge([detail.rank_name_jour|lower])%}
                                {%endif%}

                                {%if detail.position_name_jour is not empty%}
                                    {%set who=who|merge([detail.position_name_jour|lower])%}
                                {%endif%}

                            {%else%}
                                {%if detail.fio is not empty%}
                                    {%set who=who|merge([detail.fio])%}
                                {%endif%}

                                {%if detail.rank_name is not empty%}
                                    {%set who=who|merge([detail.rank_name|lower])%}
                                {%endif%}

                                {%if detail.position_name is not empty%}
                                    {%set who=who|merge([detail.position_name|lower])%}
                                {%endif%}

                            {%endif%}





                            {%if 4 in out.statuses_id %}


                                <a href="#" class="prove-info" data-toggle="modal"  data-target="#detail-prove-sd-modal"
                                   data-time="{{out.statuses_detail[4].date_action|date('d.m.Y H:i')}}"
                                   data-who="{{who is not empty ? who|join(', ') : ''}}"
                                   data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}" >
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Подтверждено
                                </a>
                            {%elseif 5 in out.statuses_id%}
                                <a href="#" class="refuse-info" data-toggle="modal"  data-target="#detail-refuse-sd-modal"
                                   data-id="{{out.id}}"
                                   data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                                   data-url="{{base_url('history/detail_refuse_sd')}}" data-level="2">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Отклонено
                                </a>


                        <br>

                            {%if out.is_other_refuse_cnt is defined and out.is_other_refuse_cnt > 0 %}

                            + {{out.is_other_refuse}}
                        {%endif%}




                            {%else%}
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                Ожидает исполнения

                            {%endif%}

                        {%endif%}

                    </td>#}
                    <td>



                        {%if out.statuses_id is defined and out.statuses_id is not empty %}


                            {%set who=[]%}


                            {%if 6 in out.statuses_id %}

                                {%set detail=out.statuses_detail[6]%}

                            {%elseif 7 in out.statuses_id%}
                                {%set detail=out.statuses_detail[7][active_user.id_user]%}

                            {%endif%}

                            {%if detail.is_guest == 1%}

                                {%if detail.fio_jour is not empty%}
                                    {%set who=who|merge([detail.fio_jour])%}
                                {%endif%}

                                {%if detail.rank_name_jour is not empty%}
                                    {%set who=who|merge([detail.rank_name_jour|lower])%}
                                {%endif%}

                                {%if detail.position_name_jour is not empty%}
                                    {%set who=who|merge([detail.position_name_jour|lower])%}
                                {%endif%}

                            {%else%}
                                {%if detail.fio is not empty%}
                                    {%set who=who|merge([detail.fio])%}
                                {%endif%}

                                {%if detail.rank_name is not empty%}
                                    {%set who=who|merge([detail.rank_name|lower])%}
                                {%endif%}

                                {%if detail.position_name is not empty%}
                                    {%set who=who|merge([detail.position_name|lower])%}
                                {%endif%}

                            {%endif%}


                        {%endif%}



                        {%if out.statuses_id is defined and 6 in out.statuses_id  %}
                            {#Функция не доступна. СД подтверждено.#}

                            <a href="#" class="prove-info" data-toggle="modal"  data-target="#detail-prove-sd-modal"
                               data-level="1"
                               data-time="{{out.detail.date_action|date('d.m.Y H:i')}}"
                               data-who="{{who is not empty ? who|join(', ') : ''}}"
                               data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}" >
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Подтверждено
                            </a>

                        {%elseif 7 in out.statuses_id%}

                            <a href="#" class="{%if out.dates_actions is defined and ((out.dates_actions[7] is defined and out.dates_actions[2] is defined and out.dates_actions[2]>out.dates_actions[7]) or (out.dates_actions[7] is defined and out.dates_actions[10] is defined and out.dates_actions[10]>out.dates_actions[7]))%}refuse-info-edit{%else%}refuse-info{%endif%}" data-toggle="modal"  data-target="#detail-refuse-sd-modal"
                               data-level="1"
                               data-id="{{out.id}}"
                               data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                               data-url="{{base_url('history/detail_refuse_sd')}}">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Замечания
                            </a>
                        {%else%}
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Ожидает исполнения


                        {%endif%}

                    </td>

                    <td>
                        <a href="{{base_url('export/sd_to_word/'~out.id)}}" class="a-non-dec" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Экспорт в Word.">
                            <i class="fa fa-file-word-o" aria-hidden="true"></i>
                        </a>
                            &nbsp;|&nbsp;
{#                        <a href="{{base_url('dones/copy_standart_sd/'~out.id)}}" >
                            <i class="fa fa-clone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Создать по шаблону."></i>
                        </a>#}
                        <a href="#" data-toggle="modal"  data-target="#modal-copy-sd" data-url="{{base_url('dones/copy_standart_sd/'~out.id)}}" data-sd-id="{{out.id}}" data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}" >
                            <i class="fa fa-clone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Создать по шаблону."></i>
                        </a>

                        {% if (out.media is defined and out.media is not empty) or out.file_doc is not empty %}
                            &nbsp;|&nbsp;
                            <a href="#" class="show-media-catalog" data-toggle="modal" data-target="#modal-catalog-media" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Просмотреть медиаматериалы"
                               data-number-sd="{{out.specd_date ? out.specd_date|date('d.m.Y') : ''}} {{out.specd_number ? '№ '~out.specd_number : ''}}"
                               data-id="{{out.id}}"
                               data-url="{{base_url('common/get_sd_media_modal')}}">
                                <i class="fa fa-file-image-o " aria-hidden="true"></i>
                            </a>
                        {% endif %}

                    </td>

                </tr>


            {%endfor%}

        </tbody>
    {%endif%}
</table>


<script src="{{ base_url('/assets/libs/jquery/jquery/dist/jquery.js')}}"></script>

<script>
    $(document).ready(function () {

        var table = $('#catalogUmchsTable').DataTable({
            "pageLength": 50,
             "order": [],
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }

            }
        });


        $('#catalogUmchsTable tfoot th').each(function (i) {

            if (  i !== 5 && i !== 6 && i !== 7 && i !== 8 && i !== 9 ) {


                if (i === 4) {

                    var y = 'catalogUmchsTable';
                    var select = $('<select class="' + i + '  noprint" id="sel' + y + i + '"><option value=""></option></select>')
                            .appendTo($(this).empty())
                            .on('change', function () {

                                var val = $(this).val();

                                table.column(i) //Only the first column
                                        .search(val ? '^' + $(this).val() + '$' : val, true, false)
                                        .draw();
                            });

                    var x = $('#catalogUmchsTable tfoot th').index($(this));
                    table.column(i).data().unique().sort().each(function (d, j) {
                        select.append('<option   value="' + d + '" >' + d + '</option>');
                    });

                } else {

                    var title = $('#catalogUmchsTable tfoot th').eq($(this).index()).text();
                    var x = $('#catalogUmchsTable tfoot th').index($(this));
                    var y = 'catalogUmchsTable';
                    //$(this).html( '<input type="text" placeholder="Поиск '+title+'" />' );
                    $(this).html('<input type="text" class="noprint" id="inpt' + y + x + '" placeholder="Поиск"  />');
                    // document.getElementById("inpt11").html('placeholder="<i class="fa fa-search" aria-hidden="true"></i>"');
                }

            }
        });

        $("#catalogUmchsTable tfoot input").on('keyup change', function () {
            table
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
        });

    });










</script>