<br>

<div class="card">
    <div class="card-header">
        Описание и адреса выезда (автоматизированный режим из ПС "Журнал ЦОУ")

        <label for="is_show_address" >&nbsp;</label>
        <div class="checkbox checkbox-success" style='display:inline'>
            <input  type="checkbox" name="is_show_address" value="1" id="is_show_address" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_show_address == 1 %}checked{%endif%}>
            <label for="is_show_address">
                выводить адрес в СД <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="адрес будет добавлен в СД перед координатами"></i>
            </label>
        </div>

    </div>
    <div class="card-body">
        {# Дата и время сообщения: 2019-06-26 12:10:04 | Дата и время локализации: 2019-06-26 12:10:05 | Дата и время ликвидации: 2019-06-26 12:10:06#}

        <div class="form-row create-form-row">
            <input type="hidden" class="form-control"  placeholder="" name="id_rig_current" value="{%if id_rig_current is defined and id_rig_current is not empty%}{{id_rig_current}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.id_rig is not empty %}{{dones.id_rig}}{%endif%}">

            <div class="form-group col-md-2">
                <label for="time_msg" >Дата и время сообщения:</label>
                {%set time_msg=''%}
                {% if rig is defined and rig.time_msg is not empty and rig.time_msg is not null and rig.time_msg != '0000-00-00 00:00:00' %}
                    {%set time_msg=rig.date_msg~' '~rig.time_msg%}
                {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.time_msg is not empty and dones.time_msg != '0000-00-00 00:00:00'%}
                    {%set time_msg=dones.time_msg|date('d.m.Y H:i:s')%}
                {%endif%}
                <input type="text" autocomplete="off" class="form-control calendar-standart-time-msg {%if settings is defined and settings.is_seconds_show is defined and 'yes' in settings.is_seconds_show%}date-time-sec-cal{%else%} date-time-without-sec-cal {%endif%} "  placeholder="" name="time_msg"
                       value="{%if settings is defined and settings.is_seconds_show is defined and 'yes' in settings.is_seconds_show and time_msg is not empty%}{{time_msg|date('d.m.Y H:i:s')}}{%elseif time_msg is not empty%}{{time_msg|date('d.m.Y H:i')}}{%endif%}">
            </div>


            <div class="form-group col-md-2">
                {%if rig is defined and rig.time_loc is not empty and rig.time_loc is not null and rig.time_loc != '0000-00-00 00:00:00'%}
                    {%set localization=rig.time_loc|date('d.m.Y H:i:s')%}
                {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.time_loc is not empty and dones.time_loc != '0000-00-00 00:00:00'%}
                    {%set localization=dones.time_loc|date('d.m.Y H:i:s')%}
                {%endif%}
                <label for="time_loc" >Дата и время локализации:</label>
                <input type="text" autocomplete="off" class="form-control  {%if settings is defined and settings.is_seconds_show is defined and 'yes' in settings.is_seconds_show%}date-time-sec-cal{%else%} date-time-without-sec-cal {%endif%}"  placeholder="" name="time_loc" value="{%if settings is defined and settings.is_seconds_show is defined and 'yes' in settings.is_seconds_show and localization is defined%}{{localization|date('d.m.Y H:i:s')}}{%elseif localization is defined%}{{localization|date('d.m.Y H:i')}}{%endif%}">
            </div>


            <div class="form-group col-md-2">
                {%if rig is defined and rig.time_likv is not empty and rig.time_likv is not null and rig.time_likv != '0000-00-00 00:00:00'%}
                    {%set likvidation=rig.time_likv|date('d.m.Y H:i:s')%}
                {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.time_likv is not empty and dones.time_likv != '0000-00-00 00:00:00'%}
                    {%set likvidation=dones.time_likv|date('d.m.Y H:i:s')%}
                {%endif%}
                <label for="time_likv" >Дата и время ликвидации:</label>
                <input type="text" autocomplete="off" class="form-control {%if settings is defined and settings.is_seconds_show is defined and 'yes' in settings.is_seconds_show%}date-time-sec-cal{%else%} date-time-without-sec-cal {%endif%}"  placeholder="" name="time_likv" value="{%if settings is defined and settings.is_seconds_show is defined and 'yes' in settings.is_seconds_show and likvidation is defined%}{{likvidation|date('d.m.Y H:i:s')}}{%elseif likvidation is defined%}{{likvidation|date('d.m.Y H:i')}}{%endif%}">
            </div>



            <div class="form-group col-md-3">
                <label for="podr_take_msg" >Подразделение, принявшее сообщение:</label>
                <input type="text" class="form-control"  placeholder="" name="podr_take_msg" value="{%if rig is defined and rig.spec_podr_take_msg is defined and rig.spec_podr_take_msg is not empty %}{{rig.spec_podr_take_msg|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.podr_take_msg is not empty %}{{dones.podr_take_msg|trim}}{%elseif active_user.creator_name is defined and active_user.creator_name is not empty%}{{active_user.creator_name|trim}}{%endif%}">
            </div>




            <div class="form-group col-md-3">
                <label for="disp_take_msg" >Диспетчер, принявший сообщение:</label>
                <input type="text" class="form-control"  placeholder="диспетчер ЦОУ Иванов И.И." name="disp_take_msg" value="{%if rig is defined and rig.auth_locorg is defined and rig.auth_locorg is not empty %}{{rig.auth_locorg|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.disp_take_msg is not empty %}{{dones.disp_take_msg|trim}}{%else%}диспетчер ЦОУ{%endif%}">
            </div>


        </div>



        <address>

            <div class="form-row create-form-row">



                <div class="form-group col-md-4">
                    <label for="address" >Адрес:</label>
                    {%set address=''%}
                    {%set region=''%}
                    {%set additional_field_address=''%}
                    {%set is_opposite=''%}
                    {%set all_address=''%}


                    {%if rig is defined and rig.address is not empty %}

                        {%if rig is defined and rig.address is not empty %}
                            {%set address=rig.address%}
                        {%endif%}

                        {%if rig is defined and rig.region_name is not empty and rig.id_region != 3 %}
                            {%set region=rig.region_name~' область'%}
                        {%endif%}

                        {%if rig is defined and rig.additional_field_address is not empty %}
                            {%set additional_field_address=additional_field_address%}
                        {%endif%}


                        {%if rig is defined and rig.is_opposite == 1 %}
                            {%set is_opposite='напротив'%}
                        {%endif%}

                        {%if address is not empty  %}
                            {%set all_address=address%}
                        {%endif%}


                        {%if is_opposite is not empty or additional_field_address is not empty  %}
                            {%set all_address=all_address~' ('%}
                        {%endif%}

                        {%if additional_field_address is not empty  %}
                            {%set all_address=all_address~additional_field_address%}
                        {%endif%}

                        {%if is_opposite is not empty and additional_field_address is not empty  %}
                            {%set all_address=all_address~', '~is_opposite%}
                        {%elseif is_opposite is not empty %}
                            {%set all_address=all_address~is_opposite%}
                        {%endif%}

                        {%if is_opposite is not empty or additional_field_address is not empty  %}
                            {%set all_address=all_address~' )'%}
                        {%endif%}

                        {%if region is not empty  %}
                            {%set all_address=all_address~' '~region%}
                        {%endif%}

                    {%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.address is not empty %}
                        {%set all_address=dones.address|trim%}
                    {%endif%}
                    <textarea class="form-control" name="address"  rows="2" cols="20">{{all_address}}</textarea>
                </div>


                <div class="form-group col-md-1">
                    <label for="latitude" >Широта:</label>
                    <input type="text" class="form-control" id="lat_id"  placeholder="" name="latitude" value="{%if rig is defined and rig.latitude is defined and rig.latitude is not empty and rig.latitude != 0%}{{rig.latitude|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.latitude is not empty %}{{dones.latitude|trim}}{%endif%}">
                </div>


                <div class="form-group col-md-1">
                    <label for="longitude" >Долгота:</label>
                    <input type="text" class="form-control" id="long_id"  placeholder="" name="longitude" value="{%if rig is defined and rig.longitude is defined and rig.longitude is not empty and rig.longitude != 0%}{{rig.longitude|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.longitude is not empty %}{{dones.longitude|trim}}{%endif%}">
                </div>

                {#                <div class="col-sm-2"><br>
                                    (ссылка по возможности)
                                </div>#}



            </div>



            {#            <div class="form-group row create-form-row">
                            <label for="object" class="col-sm-1 col-form-label">Объект:</label>
                            <div class="col-sm-4">

                                <input type="text" class="form-control"  placeholder="" name="object" value="{%if rig.object is defined and rig.object is not empty%}{{rig.object|trim}}{%endif%}{%if rig.office_belong_id is defined and rig.office_belong_id != 0%} ({{rig.office_name|trim}}){%endif%}">
                            </div>
                        </div>#}


            {#            <div class="form-row create-form-row">

                            <label for="coord" class="col-sm-1 col-form-label">Координаты:</label>

                            <div class="col-sm-1">широта
                                <input type="text" class="form-control" id="lat_id"  placeholder="" name="latitude" value="{%if rig is defined and rig.latitude is defined and rig.latitude is not empty and rig.latitude != 0%}{{rig.latitude|trim}}{%endif%}">
                            </div>

                            <div class="col-sm-1">долгота
                                <input type="text" class="form-control" id="long_id"  placeholder="" name="longitude" value="{%if rig is defined and rig.longitude is defined and rig.longitude is not empty and rig.longitude != 0%}{{rig.longitude|trim}}{%endif%}">
                            </div>

                        </div>#}

            {#            <strong>г. Пинск</strong>
                        <br><strong>ул. Советская 12, 23 (дополнительное поле, напротив)</strong>
                        <br>Брестская область#}
            {#<br> Объект: АЗС (ведомственная принадлежность).#}
            {#<br> Координаты: 54.343444, 27.343444 (ссылка по возможности)#}

        </address>


        {#{%set fio_people=''%}
        {%set address_people=''%}
        {%set phone_people=''%}
        {%set all_people=''%}

        {%if rig is defined and rig.people is defined and rig.people is not empty and rig.people.fio  %}
            {%set fio_people=rig.people.fio%}
        {%endif%}

        {%if rig is defined and rig.people is defined and rig.people is not empty and rig.people.address is not empty %}
            {%set address_people=rig.people.address%}
        {%endif%}

        {%if rig is defined and rig.people is defined and rig.people.phone is defined and rig.people.phone is not empty %}
            {%set phone_people=rig.people.phone%}
        {%endif%}

        {%if fio_people is not empty %}
            {%set all_people=fio_people%}
        {%endif%}

        {%if address_people is not empty %}
            {%if all_people is not empty %}
                {%set all_people=all_people~' ('~address_people~')'%}
            {%else%}
                {%set all_people=address_people%}
            {%endif%}
        {%endif%}

        {%if phone_people is not empty %}
            {%if all_people is not empty %}
                {%set all_people=all_people~', тел. '~phone_people%}
            {%else%}
                {%set all_people='тел. '~phone_people%}
            {%endif%}
        {%endif%}#}

        {#            <div class="form-group row create-form-row">
                        <label for="people" class="col-sm-1 col-form-label">ФИО заявителя:</label>
                        <div class="col-sm-4">

                            <input type="text" class="form-control"  placeholder="" name="people" value="{{all_people}}">
                        </div>
                    </div>#}


        {#            ФИО заявителя: Иванов И.И. (место жительства)
                    Телефон: 209-27-51#}


        <div class="form-row create-form-row">

            <div class="form-group col-md-3">
                <label for="hs_vid" >Вид ЧС</label>
                <select class="form-control select2-single" name="vid_hs_1" id="vid_hs_1"  >
                    <option></option>
                    {% for vid in vid_hs_1 %}
                        <option value="{{ vid.id }}" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.vid_hs_1 == vid.id %}selected{%endif%} >{{ vid.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group col-md-2">
                <label for="hs_vid_sub" >Вид ЧС 1</label>
                <select class="form-control  select2-single" name="vid_hs_2" id="vid_hs_2"  >
                    <option></option>
                    {% for vid in vid_hs_2 %}
                        <option value="{{ vid.id }}" class="{{vid.id_vid_hs_1}}" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.vid_hs_2 == vid.id %}selected{%endif%}>{{ vid.name }}</option>
                    {% endfor %}
                </select>
            </div>



            {#                <div class="form-group col-md-1">
                                <label for="hs_vid_sub_sub" >Вид ЧС 2</label>
                                <select class="form-control select2-select" name="hs_vid_sub_sub" id="hs_vid_sub_sub"  >

                                    {% for vid in hs_vid %}
                                        <option value="{{ vid.id }}" >{{ vid.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>#}



        </div>


        <div class="form-row create-form-row">


            <div class="form-group col-md-2">
                <label for="reason_rig">Причина выезда:</label>
                <input type="text" class="form-control"  placeholder="" name="reason_rig" value="{%if rig is defined and rig.id_reasonrig is defined and rig.id_reasonrig is not empty and rig.id_reasonrig != 0%}{{rig.reasonrig_name|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.reason_rig is not empty %}{{dones.reason_rig|trim}}{%endif%}{%if is_edit_dones is not defined and rig.view_work_id is defined and rig.view_work_id != 0 %} ({{rig.view_work|trim}}){%endif%}">
            </div>



            {#            <div class="form-group col-md-2">
                            <label for="firereason_rig" >Причина пожара:</label>
                            <input type="text" class="form-control"  placeholder="" name="firereason_rig" value="{%if rig is defined and rig.firereason_id is defined and rig.firereason_id is not empty and rig.firereason_id != 0%}{{rig.firereason_name|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.firereason_rig is not empty %}{{dones.firereason_rig|trim}}{%endif%}">
                        </div>#}

            <div class="form-group col-md-3">
                <label for="id_firereason" >Причина пожара</label>
                <select class="form-control select2-single" name="id_firereason" id="id_firereason"  >
                    <option></option>
                    {% for reas in firereason %}
                        <option value="{{ reas.id }}" {%if ( rig.firereason_id is defined and rig.firereason_id == reas.id) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.id_firereason == reas.id) %}selected{%endif%} >{{ reas.name }}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="form-group col-md-2">
                <label for="inspector" >Инспектор:</label>
                <input type="text" class="form-control"  placeholder="" name="inspector" value="{%if rig is defined and rig.inspector is defined and rig.inspector is not empty %}{{rig.inspector|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.inspector is not empty %}{{dones.inspector|trim}}{%endif%}">
            </div>



        </div>



                <div class="card" >

                    <div class="card-header" style="background-color: #d9edf7">
                        Данные по заявителю
                    </div>

                    <div class="card-body" >

                        <div class="form-row create-form-row" id="people-rig-data">

                            {%include '/create/standart/parts/people_rig_data.twig'%}

                        </div>
                    </div>

                </div>



        {# <strong>Причина выезда: пожар (вид работ) </strong>
         <br>#}
        {#            <strong>Причина пожара: неосторожное обращение с огнем </strong>
                    <br>#}


        {#Инспектор: Иванов И.И.#}



        <!-- /.panel-body -->
    </div>
</div>
<br>
