<div class="card">
    <div class="card-header" >
        <label for="is_show_object" >&nbsp;</label>
        <div class="checkbox checkbox-success" style='display:inline'>
            <input  type="checkbox" name="is_show_object" value="1" id="is_show_object" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_show_object == 1 %}checked{%endif%}>
            <label for="is_show_object">
                выводить объект в СД <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="объект будет добавлен в СД после обстановки по прибытию"></i>
            </label>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="card-body" >

        <input type="hidden" class="id_object" name="id_object" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty %}{{dones.object.id}}{%endif%}">

        {#        <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>#}



        {#from journal#}
        <div class="form-row create-form-row" id="object-data">
            {%include '/create/standart/parts/object_data.twig'%}
        </div>




        <div class="form-row create-form-row">


            <div class="form-group col-md-2">
                <label for="object_house">Вид объекта
                    <a href="#" class="add-new-vid-object-house" data-placement="right" title="Добавить новый вид" data-toggle="modal" data-target="#modal-add-new-vid-object-house">
                        <i class="fa fa-pencil-square-o " aria-hidden="true" style="color:green;padding-left: 10px; cursor: pointer"></i>
                    </a>
                </label>
                <select  class="form-control select2-single object_house" name="object_house" id="object_house_id" >
                    <option value=""></option>
                    {% for vid in object_house %}
                        <option value="{{ vid.id }}" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_house== vid.id %}selected{%endif%} >{{ vid.name }}</option>
                    {% endfor %}
                </select>


            </div>




            <div class="form-group col-md-1 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined  and dones.object.object_house == id_object_avtotransport %}hide{%else%}show{%endif%}" id="object-floor-div">
                {%include '/create/standart/parts/object_floor.twig'%}
            </div>

            <div class="form-group col-md-1 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_house==id_object_many_floor %}show{%else%}hide{%endif%} " id="object-floor-flat-div">
                {%include '/create/standart/parts/object_floor_flat.twig'%}
            </div>

                <div class="form-group col-md-1 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_house==id_object_many_floor %}show{%else%}hide{%endif%}" id="object_cnt_rooms_div">
                    <label for="object_cnt_rooms" >Кол-во комнат:</label>
                    <input type="number" min="0" class="form-control"  placeholder="" name="object_cnt_rooms"  value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object.object_cnt_rooms is not empty %}{{dones.object.object_cnt_rooms}}{%else%}0{%endif%}">
                </div>



            <div class="form-group col-md-2 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined  and dones.object.object_house == id_object_avtotransport %}hide{%else%}show{%endif%}" id="object-size-div" >
                <label for="object_size" >Размеры:</label>
                <input type="text" class="form-control"  placeholder="" name="object_size"  value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty %}{{dones.object.object_size}}{%endif%}">
            </div>



            <div class="form-group col-md-2 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined  and dones.object.object_house == id_object_avtotransport %}hide{%else%}show{%endif%}" id="object-electric-div">
                <label for="object_size" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="checkbox checkbox-warning">
                    <input  type="checkbox" name="object_is_electric" value="1" id="object_is_electric" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_is_electric == 1 %}checked{%endif%}>
                    <label for="object_is_electric">
                        Электрофицирован
                    </label>
                </div>
            </div>



        </div>



        <div class="form-row create-form-row "  >


            <div class="form-group col-md-2 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_house == id_object_avtotransport  %}hide{%else%}show{%endif%}" id="object-material-div">
                <label for="object_material" >Материал стен
                    <a href="#" class="add-new-vid-object-material" data-placement="right" title="Добавить новый вид" data-toggle="modal" data-target="#modal-add-new-vid-object-material">
                        <i class="fa fa-pencil-square-o " aria-hidden="true" style="color:green;padding-left: 10px; cursor: pointer"></i>
                    </a>
                </label>
                <select  class="form-control select2-single object_house" name="object_material" id="object_material_id" >
                    <option></option>
                    {% for vid in object_material %}
                        <option value="{{ vid.id }}" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_material == vid.id %}selected{%endif%}>{{ vid.name }}</option>
                    {% endfor %}
                </select>


            </div>



            <div class="form-group col-md-2 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_house == id_object_avtotransport  %}hide{%else%}show{%endif%}" id="object-roof-div">
                <label for="object_roof" >Материал кровли
                    <a href="#" class="add-new-vid-object-roof" data-placement="right" title="Добавить новый вид" data-toggle="modal" data-target="#modal-add-new-vid-object-roof">
                        <i class="fa fa-pencil-square-o " aria-hidden="true" style="color:green;padding-left: 10px; cursor: pointer"></i>
                    </a>
                </label>
                <select  class="form-control select2-single object_roof" name="object_roof" id="object_roof_id" >
                    <option></option>
                    {% for vid in object_roof %}
                        <option value="{{ vid.id }}" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_roof == vid.id %}selected{%endif%}>{{ vid.name }}</option>
                    {% endfor %}
                </select>


            </div>



            <div class="form-group col-md-1">
            </div>

            <div class="form-group col-md-2 {%if (((rig.id_owner_category is defined and rig.id_owner_category is not empty) or (rig.owner_fio is not empty)) ) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and  dones.id_face_belong == 1 and dones.object.object_house != id_object_avtotransport)%}show{%else%}hide{%endif%}" id="div-is-api">
                <label for="object_is_api" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="checkbox checkbox-success">
                    <input  type="checkbox" name="object_is_api" value="1" id="object_is_api" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_is_api == 1 %}checked{%endif%}>
                    <label for="object_is_api" >
                        Оборудован АПИ
                    </label>
                </div>
            </div>




                    <div class="form-group col-md-2 {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and  dones.id_face_belong == 2 and dones.object.object_house != id_object_avtotransport %}show{%else%}hide{%endif%}" id="div-is-aps">
                        <label for="is_aps" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="checkbox checkbox-success">
                            <input  type="checkbox" name="is_aps" value="1" id="is_aps" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.is_aps == 1 %}checked{%endif%}>
                            <label for="is_aps" >
                                Наличие АПС
                            </label>
                        </div>
                    </div>

        </div>




        <div class="card {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_is_api == 1 and dones.id_face_belong == 1 and dones.object.object_house != id_object_avtotransport  %}show{%else%}hide{%endif%}" id="object-api-card">
            <div class="card-header" style="background-color: #abdaab5c">
                Информация по АПИ
            </div>
            <!-- /.panel-heading -->
            <div class="card-body" style="background-color: #e1f1e157">
                {%include '/create/standart/object/object_api_card.twig'%}
            </div>
        </div>



        <div class="card {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.is_aps == 1 and dones.id_face_belong == 2 and dones.object.object_house != id_object_avtotransport  %}show{%else%}hide{%endif%}" id="object-aps-card">
            <div class="card-header" style="background-color: #abdaab5c">
                Информация по АПС
            </div>
            <!-- /.panel-heading -->
            <div class="card-body" style="background-color: #e1f1e157">
                {%include '/create/standart/object/object_aps_card.twig'%}
            </div>
        </div>



        <div class="card avtotransport-object {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object is not empty and dones.object.object_house == id_object_avtotransport %}show{%else%}hide{%endif%}" id="avtotransport-object">
            <div class="card-header" style="background-color: #abdaab5c">
                Автотранспорт
            </div>
            <!-- /.panel-heading -->
            <div class="card-body" style="background-color: #e1f1e157">
                {%include '/create/standart/object/object_avtotransport_card.twig'%}
            </div>
        </div>




    </div>
    <!-- /.panel-body -->
</div>