{#<p>Дата и время создания специального донесения: 2019-10-10 12:10:04</p>#}
<br>

<div class="form-row create-form-row">


    <div class="form-group col-md-3">
        <label for="official_date_start" >Дата и время создания специального донесения:</label>
        <input type="text" class="form-control" readonly  placeholder="" name="official_date_start" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.official_date_start is not empty and dones.official_date_start != '0000-00-00 00:00:00'%}{{dones.official_date_start|date('d.m.Y H:i:s')}}{%else%}{{"now"|date('d.m.Y H:i:s')}}{%endif%}">
    </div>


    {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.official_date_end is not empty %}

        <div class="form-group col-md-3">
            <label for="official_date_end" >Дата и время окончания создания специального донесения:</label>
            <input type="text" class="form-control" disabled  value="{{dones.official_date_end|date('d.m.Y H:i:s')}}">
        </div>

    {%endif%}


    {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined %}
        <input type="hidden" class="form-control" name="official_date_start_edit"  value="{{"now"|date('d.m.Y H:i:s')}}">
    {%endif%}


    <div class="form-group col-md-2">
        <label for="specd_vid" >Вид специального донесения</label>
        <select class="form-control select2-select" name="specd_vid" id="specd_vid"  >

            {% for vid in vid_specd %}
                {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined %}
                    <option {%if dones.specd_vid == vid.id%} selected {%endif%} value="{{ vid.id }}" >{{ vid.name }}</option>
                {%else %}
                    <option {%if vid.id == 370%} selected {%elseif vid.id == 370 %}{%endif%} value="{{ vid.id }}" >{{ vid.name }}</option>
                {%endif%}

            {% endfor %}
        </select>
    </div>


            <div class="col-sm-4">
                <label for="short_description" >О чем СД:</label>
        <textarea class="form-control" name="short_description"  rows="2" cols="50">{%if  rig.short_description is defined and  rig.short_description is not empty and rig.short_description is not null %}{{rig.short_description|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.short_description is not empty %}{{dones.short_description|trim}}{%endif%}
        </textarea>
    </div>


        <div class="form-group col-sm-2">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <a href="#" class="a-non-dec" data-toggle="modal" data-target="#modal-media" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Прикрепить медиаматериалы">
                <img src="{{base_url('assets/images/media_img.png')}}" style=" width:60px; padding-left: 10px; cursor: pointer">
                {% if is_edit_dones is defined and dones is defined and dones and (dones.media is not empty or dones.file_doc is not empty) %}
                    <i class="fa fa-check" style="color:green"></i>
                {% endif %}

            </a>
        </div>

    {#id of edit dones#}
    <input type="hidden" class="form-control"  placeholder="" name="id_dones" value="{%if is_edit_dones is defined and is_edit_dones == 1 and id_dones is defined and id_dones is not empty%}{{id_dones}}{%endif%}">

</div>
{#
<table>
    <tr>
        <td>Создатель:</td>
         <td>
             <div class="col-sm-4">
             <input type="text" class="form-control"  placeholder="" name="creator_name" value="ЦОУ Минского областного УМЧС">
             </div>
             </td>
    </tr>
    </table>#}
<div class="form-row create-form-row">



    <div class="form-group col-md-3">
        <label for="official_creator_name" >Создатель:</label>
        {%set official_creator_name=''%}
        {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined %}
            {%set official_creator_name=dones.official_creator_name|trim%}
        {%elseif active_user.creator_name is defined and active_user.creator_name is not empty %}
            {%set official_creator_name=active_user.creator_name%}
        {%endif%}
        <input type="text" class="form-control"  placeholder="наим. подразделения" name="official_creator_name" value="{{official_creator_name}}">
    </div>



    <div class="form-group col-md-3">
        <label for="official_creator_position" >Должность:</label>
        {%set official_creator_position=''%}
        {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.official_creator_position is not empty %}
            {%set official_creator_position=dones.official_creator_position|trim%}
        {%else%}
            {%if active_user.position_name is defined and active_user.position_name is not empty %}
                {%set official_creator_position=official_creator_position~active_user.position_name%}
            {%endif%}
            {%if active_user.rank_name is defined and active_user.rank_name is not empty %}
                {%set official_creator_position=official_creator_position~' '~active_user.rank_name|lower%}
            {%endif%}
            {%if active_user.auth_fio is defined and active_user.auth_fio is not empty %}
                {%set official_creator_position=official_creator_position~' '~active_user.auth_fio%}
            {%endif%}
        {%endif%}
        <input type="text" class="form-control"  placeholder="" name="official_creator_position" value="{{official_creator_position}}">
    </div>


    <div class="form-group col-md-3">
        <label for="official_destination" >Получатель:</label>
        <input type="text" class="form-control"  placeholder="" name="official_destination" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.official_destination is not empty %}{{dones.official_destination|trim}}{%else%}Главный оперативный дежурный РЦУРЧС{%endif%}">
    </div>



</div>




{#<div class="form-group row create-form-row">
    <label for="official_date_end" class="col-sm-3 col-form-label">Дата и время завершения работы со специальным донесением:</label>
    <div class="col-sm-2">

        <input type="text" class="form-control" disabled  placeholder="" name="official_date_end" value="10.10.2019 12:50:55">
    </div>
</div>#}
