
<br>
<div class="{%if ((rig.id_owner_category is defined and rig.id_owner_category is not empty) or (rig.owner_fio is not empty)) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.id_face_belong == 1)%}show{%else%}hide{%endif%}" id="individual-face-div">
    <div class="form-row create-form-row" id="owner_from_jour">

        {#from journal#}
        {%include '/create/standart/owner/parts/owner_from_jour.twig'%}

    </div>




    <div class="form-row create-form-row">

        {#        <div class="form-group col-md-2">
                    <label for="people_status">Статус
                        <a href="#" class="add-new-vid-people-status" data-placement="right" title="Добавить новый вид" data-toggle="modal" data-target="#modal-add-new-vid-people-status">
                            <i class="fa fa-pencil-square-o " aria-hidden="true" style="color:green;padding-left: 10px; cursor: pointer"></i>
                        </a>
                    </label>
                    <select  class="form-control select2-single people_status" name="people_status" id="people_status_id" >
                        <option></option>
                        {% for vid in people_status %}
                            <option value="{{ vid.id }}" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.people_status == vid.id %}selected{%endif%}  >{{ vid.name }}</option>
                        {% endfor %}
                    </select>
                </div>#}
{%if rig.owner_character is defined and rig.owner_character is not empty%}
   {%set character=dones.owner_character|trim%}
{%else%}
    {%set character='со слов соседей, характеризуется положительно/посредственно'%}
{%endif%}


        <div class="form-group col-md-5">
            <label for="owner_character" >Характеристика</label>
            <textarea class="form-control" cols="2" rows="2"  name="owner_character">{{character}}</textarea>
        </div>

        <div class="form-group col-md-2">
            <label for="owner_is_uhet" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <div class="checkbox checkbox-success">
                <input  type="checkbox" name="owner_is_uhet" value="1" id="owner_is_uhet" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.owner_is_uhet == 1 %}checked{%endif%}>
                <label for="owner_is_uhet">
                    Состоит на учете профилактики
                </label>
            </div>
        </div>

        <div class="form-group col-md-1">
            <label for="owner_live_together">Совместно проживает, чел.

            </label>
            <input type="number" min="0" max="10" class="form-control"  placeholder="" name="owner_live_together"  value="{%if dones.owner_live_together is defined and dones.owner_live_together is not empty%}{{dones.owner_live_together}}{%endif%}">

        </div>
            <div class="form-group col-md-1">
            <button style="margin-top: 58px;" type="button" class="btn btn-outline-success btn-sm {% if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.live_together_arr is defined and dones.live_together_arr is not empty%}hide{%else%}show{%endif%}"  id="fill-live-together"><i class="fa fa-address-card" style="cursor:pointer" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Заполнить информацию"></i></button>
            <button style="margin-top: 58px;" type="button" class="btn btn-outline-danger btn-sm {% if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.live_together_arr  is defined and dones.live_together_arr is not empty%}show{%else%}hide{%endif%}"  id="unset-live-together"><i class="fa fa-address-card" style="cursor:pointer" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Не заполнять информацию"></i></button>
            </div>
            </div>



    <div class="form-row create-form-row {% if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.live_together_arr  is defined and dones.live_together_arr is not empty%}show{%else%}hide{%endif%}" id="div-live-together">
        <div class="table-responsive table-bordered"  style="background-color: #dee2e687;">
            <caption>Совместно проживающие</caption>
            <table class="table table-borderless" id="live-together-table">
                <thead>
                    <tr>
                        <th style="width: 30px">#</th>
                        <th style="width: 30px"></th>
                        <th style="width: 370px">Ф.И.О.</th>
                        <th style="width: 50px">Год рождения</th>
                        <th style="width: 480px">Прим.</th>
                        <th></th>
                    </tr>
                </thead>

                {%set x=1%}

                {% if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.live_together_arr  is defined and dones.live_together_arr is not empty%}
                    <tbody>
                        {%for men in dones.live_together_arr %}

                            {%set x=men.sort%}

                            <tr class="live_together_row" id="live_together_id_row{{x}}" data-loop="{{x}}" >
                        <td class="loop-index">{{x}}</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                            </div>
                            <input type="hidden" class="sort" name="live_together[{{x}}][sort]" value="{{x}}">
                        </td>

                        <td>
                            <input type="text" class="form-control live_together_fio"   placeholder=""  name="live_together[{{x}}][fio]" value="{%if men.fio is defined %}{{men.fio|trim}}{%endif%}">
                        </td>


                        <td>

                            <input type="number" max="{{now|date("Y")}}" class="form-control live_together_year_birth"  placeholder=""  name="live_together[{{x}}][year_birthday]" value="{%if men.year_birthday is defined %}{{men.year_birthday}}{%endif%}">

                        </td>

                        <td>
                            <textarea class="form-control live_together_note" cols="2" rows="2"  name="live_together[{{x}}][note]">{%if men.note is defined %}{{men.note}}{%endif%}</textarea>


                        </td>

                        <td>
                            <a href="#" class="del-row-live-together delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку" ><i class="fa fa-times" aria-hidden="true"></i></a>
                        </td>
                    </tr>


                        {%endfor%}

                    </tbody>


                {%else%}

                {%set i=1%}
                {%set x=i%}
                <tbody>

                    <tr class="live_together_row" id="live_together_id_row{{i}}" data-loop="{{i}}" >
                        <td class="loop-index">{{i}}</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <img src="{{ base_url('assets/images/updown/24-em-up.png') }}" class="up" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вверх" >
                                <img src="{{ base_url('assets/images/updown/24-em-down.png') }}" class="down" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Переместить строку вниз" >
                            </div>
                            <input type="hidden" class="sort" name="live_together[{{i}}][sort]" value="{{i}}">
                        </td>

                        <td>
                            <input type="text" class="form-control live_together_fio"   placeholder=""  name="live_together[{{i}}][fio]" value="">
                        </td>


                        <td>

                            <input type="number"  max="{{now|date("Y")}}" class="form-control live_together_year_birth"  placeholder=""  name="live_together[{{i}}][year_birthday]" value="">

                        </td>

                        <td>
                            <textarea class="form-control live_together_note" cols="2" rows="2"  name="live_together[{{i}}][note]"></textarea>


                        </td>

                        <td>
                            <a href="#" class="del-row-live-together delete-cross"  data-toggle="tooltip" data-placement="right" title="Удалить строку" ><i class="fa fa-times" aria-hidden="true"></i></a>
                        </td>
                    </tr>


                </tbody>
                {%endif%}
            </table>
        </div>
        <a href="#" id="add-row-live-together" >+  добавить еще</a>


    </div>



</div>




<div class="form-row create-form-row {%if  (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.id_face_belong == 2)%}show{%else%}hide{%endif%}" id="law-face-div">
    <div class="form-group col-md-2" id="law_face_office_belong">
        {%include '/create/standart/owner/parts/law_face_office_belong.twig'%}
    </div>
    {%include '/create/standart/owner/law_face_div.twig'%}
</div>
