<div class="card" >
    <div class="card-header" >
        <label for="is_show_prevention" >&nbsp;</label>
        <div class="checkbox checkbox-success" style='display:inline'>
            <input  type="checkbox" name="is_show_prevention" value="1" id="is_show_prevention" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_show_prevention == 1 %}checked{%endif%}>
            <label for="is_show_prevention">
                выводить профилактику в СД <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="профилактика будет добавлена в последний абзац СД"></i>
            </label>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="card-body" >


        <div class="form-row create-form-row">



            <div class="form-group col-md-2" >
                <label for="prevention_time"  >Когда:</label>
                <input type="text" autocomplete="off" class="form-control prevention-date-calendar"  placeholder="" name="prevention_time" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.prevention_time is not empty and dones.prevention_time != '0000-00-00' %}{{dones.prevention_time|date('d.m.Y')}}{%else%}{{date('now')|date('d.m.Y')}}{%endif%}">
            </div>





            <div class="form-group col-md-9">
                <label for="prevention_who" >Кем:</label>
                <input type="text" class="form-control"  placeholder="" name="prevention_who"  value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.prevention_who is not empty %}{{dones.prevention_who|trim}}{%endif%}">
            </div>


        </div>



        <div class="form-row create-form-row">




            <div class="form-group col-md-11">
                <label for="prevention_result" >Результаты профилактической работы: <i class="fa fa-info-circle info-all" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="+ проводимые мероприятия для формирования в обществе культуры, безопасной жизнедеятельности"></i></label>
                <textarea class="form-control" cols="20" rows="6" id="prevention_result"  name="prevention_result">{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.prevention_result is not empty %}{{dones.prevention_result|trim}}{%endif%}</textarea>
            </div>



{#            <div class="form-group col-md-6">
                <label for="prevention_events" >Проводимые мероприятия для формирования в обществе культуры, безопасной жизнедеятельности:</label>
                <textarea class="form-control" cols="3" rows="3"  name="prevention_events">{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.prevention_events is not empty %}{{dones.prevention_events|trim}}{%endif%}</textarea>
            </div>#}

        </div>
    </div>
    <!-- /.panel-body -->
</div>

