
<div class="form-group col-md-2">
    <label for="id_owner_category">Категория</label>
    <select  class="form-control select2-single " name="id_owner_category" id="id_owner_category" >
        <option></option>
        {% for vid in owner_categories %}
            <option value="{{ vid.id }}" {%if (rig.id_owner_category is defined and rig.id_owner_category is not empty and rig.id_owner_category == vid.id) or (is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.id_owner_category == vid.id) %}selected{%endif%}  data-gender="{{vid.gender}}">{{ vid.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group col-md-2">
    <label for="owner_fio">Ф.И.О.</label>
    <input type="text" class="form-control"  placeholder="" name="owner_fio"  value="{%if rig.owner_fio is defined and rig.owner_fio is not empty%}{{rig.owner_fio|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.owner_fio is defined and dones.owner_fio is not empty %}{{dones.owner_fio|trim}}{%endif%}">

</div>

<div class="form-group col-md-1">

    <label for="owner_year_birthday">Год рождения</label>
    <input type="number"  max="{{now|date("Y")}}" class="form-control"  placeholder="" name="owner_year_birthday"  value="{%if rig.owner_year_birthday is defined and rig.owner_year_birthday is not empty and rig.owner_year_birthday != 0%}{{rig.owner_year_birthday|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.owner_year_birthday is defined and dones.owner_year_birthday is not empty %}{{dones.owner_year_birthday|trim}}{%endif%}">

</div>


<div class="form-group col-md-2">
    <label for="owner_address" >Место жительства</label>
    <textarea class="form-control" cols="2" rows="2"  name="owner_address">{%if rig.owner_address is defined and rig.owner_address is not empty%}{{rig.owner_address|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.owner_address is defined and dones.owner_address is not empty %}{{dones.owner_address|trim}}{%endif%}</textarea>
</div>

<div class="form-group col-md-2">
    <label for="owner_position">Должность</label>
    <input type="text" class="form-control"  placeholder="" name="owner_position"  value="{%if rig.owner_position is defined and rig.owner_position is not empty%}{{rig.owner_position|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.owner_position is defined and dones.owner_position is not empty %}{{dones.owner_position|trim}}{%endif%}">

</div>

<div class="form-group col-md-2">
    <label for="owner_job" >Место работы</label>
    <textarea class="form-control" cols="2" rows="2"  name="owner_job">{%if rig.owner_job is defined and rig.owner_job is not empty%}{{rig.owner_job|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.owner_job is defined and dones.owner_job is not empty %}{{dones.owner_job|trim}}{%endif%}</textarea>
</div>