
<div class="modal fade" id="show-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Внимание</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">

                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Закрыть</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-list-disp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Выбрать диспетчера</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                Информация берется из <a href="/str" target="_blank">ПС &laquo;Строевая записка&raquo;</a>.
                <br><br>

                {%if list_disp is defined and list_disp is not empty%}





                    <label for="id_disp">Диспетчер</label>

                    <select class="form-control select2-single" name="id_disp" id="id_disp"  >

                        <option value=""></option>
                        {%for disp in list_disp%}
                            <option value="{{ disp.fio }}" data-rank="{{disp.rank}}" data-position="{{disp.position}}" data-podr="{{disp.podr}}" >

                                {{ disp.fio }} {{disp.rank}} (смена {{disp.ch}}, {{disp.dateduty|date('d.m.Y')}} {{disp.is_show_podr is defined and disp.is_show_podr == 1 ? ', '~disp.podr :''}})</option>
                            {% endfor %}
                    </select>






                {%endif%}

            </div>
            <div class="modal-footer">

                <button id="btn-add-list-disp"  type="button" class="btn btn-warning" >Добавить</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="show-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l title-warning" id="myModalLabel">Предупреждение</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-warning btn-continue"   >Продолжить</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-refresh-silymchs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Обновление данных по привлекаемым СиС МЧС</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Информация по привлекаемым СиС МЧС будет получена из ПС <u>&laquo;Журнал ЦОУ&raquo;</u>  и обновлена на форме создания специального донесения.</p>
               Продолжить?
            </div>
            <div class="modal-footer">

                <button id="btn-refresh-silymchs"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-refresh-trunks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Обновление сведений по подаче стволов</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Сведения по подаче стволов будут получены из ПС <u>&laquo;Журнал ЦОУ&raquo;</u>  и обновлены на форме создания специального донесения.</p>
                Продолжить?
            </div>
            <div class="modal-footer">

                <button id="btn-refresh-trunks"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modal-refresh-innerservice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Обновление сведений по привлекаемым СиС других ведомств</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Сведения по привлекаемым СиС других ведомств будут получены из ПС <u>&laquo;Журнал ЦОУ&raquo;</u>  и обновлены на форме создания специального донесения.</p>
                Продолжить?
            </div>
            <div class="modal-footer">

                <button id="btn-refresh-innerservice"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-refresh-informing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Обновление сведений по информированию должностных лиц</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Сведения по информированию должностных лиц будут получены из ПС <u>&laquo;Журнал ЦОУ&raquo;</u>  и обновлены на форме создания специального донесения.</p>
                Продолжить?
            </div>
            <div class="modal-footer">

                <button id="btn-refresh-informing"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-refresh-inf-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Обновление детализированной информации</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Детализированная информация будет получена из ПС <u>&laquo;Журнал ЦОУ&raquo;</u>  и обновлена на форме создания специального донесения.</p>
                Продолжить?
            </div>
            <div class="modal-footer">

                <button id="btn-refresh-inf-detail"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>

