{% extends 'layout.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!-- content -->


    {%include '/parts/bread_crumb.twig'%}
    <br> <br>


    <form role="form" id="createSimple" method="POST" action="{{base_url('/dones/simple_save')}}" enctype=multipart/form-data>

        {%if is_edit_dones is defined and dones is defined and dones.is_see == 1  %}

            <fieldset disabled>
            {%endif%}

            <input type="hidden" name="type_sd" value="{{type_sd}}">


            {%include '/create/dones_header_block.twig'%}

            <div class="accordion">
                <dl>
                    <dt class="dt-class">
                        <a  href="#accordion1" aria-expanded="true" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger custom-a is-collapsed is-expanded accordion-a-official" >Специальная служебная информация</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded animateIn accordion-content-official" id="accordion1" aria-hidden="false">
                        {%include '/create/standart/official_block.twig'%}
                    </dd>
                    <dt class="dt-class">
                        <a style="background-color:#428bca; color: white;border-color: #428bca; " href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger custom-a is-collapsed is-expanded">
                            Текст специального донесения (ручной набор данных)</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded animateIn" id="accordion2" aria-hidden="false">
                        <br>
                        {%include '/create/simple/blocks/date_msg.twig'%}

                        {%include '/create/standart/opening_block.twig'%}
                    </dd>
                </dl>

            </div>



            <div class="form-group col-md-12">
                <label for="is_test_sd" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="checkbox checkbox-danger">
                    <input  type="checkbox" name="is_test_sd" value="1" id="is_test_sd" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_test_sd == 1 %}checked{%endif%}>
                    <label for="is_test_sd" style="color:red">
                        Тестовое СД. После окончания тестирования ПС можно удалить.
                    </label>
                </div>
            </div>


            <center>
                {%if  dones.is_see == 1  %}

                {%else%}
                    <button type="submit" class="btn btn-danger">Сохранить</button>
                    <a href="{{base_url('/creator/catalog')}}"><button type="button" class="btn btn-secondary" >Отмена</button></a>
                {%endif%}

            </center>

            {%if is_edit_dones is defined and dones is defined and dones.is_see == 1  %}
            </fieldset>
        {%endif%}

        {%if is_edit_dones is defined and dones is defined and dones.is_see == 1  %}
            <center>
                <a href="{{base_url('/creator/catalog')}}"><button type="button" class="btn btn-secondary" >Отмена</button></a>
            </center>
        {%endif%}

    </form>

    {%include '/create/simple/blocks/preview_for_word.twig'%}
    <!-- .content -->

    {%include '/create/standart/modals/modal-media.twig'%}

{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ base_url('/assets/accordion/style.css') }}">
    <link rel="stylesheet" href="{{ base_url('/assets/css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ base_url('/assets/css/timer.css') }}">
    <link href="{{ base_url('/assets/daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url('assets/datatables/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ base_url('/assets/css/media.css') }}">

    <link rel="stylesheet" href="{{ base_url('/assets/css/form-simple/preview.css') }}">

{% endblock %}

{% block footer %}
    <script src="{{ base_url('/assets/accordion/index.js')}}"></script>
    <script type="text/javascript" src="{{ base_url('assets/js/jquery.downCount.js') }}"></script>
    <script src="{{ base_url('/assets/js/mask/jquery.maskedinput.min.js')}}"></script>
    <script type="text/javascript"
    src="{{ base_url('assets/daterangepicker/moment.min.js') }}"></script>
    <script type="text/javascript"
    src="{{ base_url('assets/daterangepicker/daterangepicker.js') }}"></script>

    <script src="{{ base_url('/assets/js/manual_datetimepicker.js')}}"></script>


    <script src="{{ base_url('/assets/js/form-standart/media.js')}}"></script>

    {%if is_edit_dones is not defined  %}
        <script src="{{ base_url('/assets/js/timer.js')}}"></script>

    {%endif%}

    <script src="{{ base_url('/assets/js/form-simple/preview.js')}}"></script>



    <script>

        jQuery("#lat_id").mask("99.999999");//долгота
        jQuery("#long_id").mask("99.999999");//широта

        $(document).ready(function () {
            $('.select2-select').select2({
                placeholder: "Выберите из списка",
                // allowClear: true,
                "language": {
                    "noResults": function () {
                        return "Ничего не найдено";
                    }
                }
            });


        });




        $(document).ready(function () {

                            $('body').on('change', '#is_show_coords', function (e) {

                                e.preventDefault();

                                var is_check = $(this).is(":checked");
                                var lat = $('#lat_id');
                                var lon = $('#long_id');

                                if (is_check === true) {
                                    lat.prop('readonly', true);
                                    lon.prop('readonly', true);

                                } else {
                                    lat.prop('readonly', false);
                                    lon.prop('readonly', false);
                                }

                            });
                        });


                        $(document).ready(function () {
                            $('form#createSimple').keydown(function (event) {
                                if (event.keyCode == 13) {
                                    event.preventDefault();
                                    return false;
                                }
                            });


                            $('body').on('change', '#createSimple #specd_vid', function (e) {

                                e.preventDefault();
                                var vid = $(this).val();
                                var lat = $('#lat_id');
                                var lon = $('#long_id');

                                var is_coord = $('#is_show_coords');

                                if (parseInt(vid) === {{minirovanie_id}}) {

                                    $('#is_show_coords').prop('checked', true);
                                    lat.prop('readonly', true);
                                    lon.prop('readonly', true);
                                    {#is_coord.prop("readonly", true);#}
                                } else {
                                    $('#is_show_coords').prop('checked', false);
                                    lat.prop('readonly', false);
                                    lon.prop('readonly', false);
                                    {#is_coord.prop("readonly", false);#}
                                }
                                setPreviewData();


                            });
                        });


    </script>




{% endblock %}

