{% extends 'layout.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!-- content -->


    {%include '/parts/bread_crumb.twig'%}
    <br> <br>


    <form role="form" id="createSimple" method="POST" action="{{base_url('/dones/simple_save')}}" enctype=multipart/form-data>

        {%if is_edit_dones is defined and dones is defined and dones.is_see == 1  %}

            <fieldset disabled>
            {%endif%}

            <input type="hidden" name="type_sd" value="{{type_sd}}">
            <input type="hidden" name="id_template" value="{{id_template is defined ? id_template : (dones.id_template is defined ? dones.id_template : '')}}">

            <a href="#" data-toggle="modal" data-target="#show-error" class="hide" id="a-show-error"></a>

            {%include '/create/dones_header_block.twig'%}

            <div class="accordion">
                <dl>
                    <dt class="dt-class">
                        <a  href="#accordion1" aria-expanded="true" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger custom-a is-collapsed is-expanded accordion-a-official" >Специальная служебная информация</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded animateIn accordion-content-official" id="accordion1" aria-hidden="false">
                        {%include '/create/standart/official_block.twig'%}
                    </dd>
                    <dt class="dt-class">
                        <a style="background-color:#428bca; color: white;border-color: #428bca; " href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger custom-a is-collapsed is-expanded">
                            Текст специального донесения (ручной набор данных)</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded animateIn" id="accordion2" aria-hidden="false">

                        {%include '/create/simple/blocks/btn_add_template.twig'%}


                        {%include '/create/simple/blocks/date_msg.twig'%}

                        <div id="content-template">


                            <div id="simple-ct1" class="{%if type_sd == 2 and ((is_edit_dones is defined and dones is defined and dones.id_template == 'ct_1') or (id_template is defined and id_template=='ct_1'))  %}show{%else%}hide{%endif%}">
                                {%include '/create/simple/template_1/table.twig'%}

                            </div>
                            <div id="simple-opening" class="{%if type_sd == 2 and (((is_edit_dones is defined and dones is defined and dones.id_template == '') or is_edit_dones is not defined) and (id_template is not defined or id_template == '' ))  %}show{%else%}hide{%endif%}">
                                {%include '/create/standart/opening_block.twig'%}
                            </div>
                        </div>
                    </dd>
                </dl>

            </div>


            <div class="form-group col-md-12">
                <label for="is_test_sd" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="checkbox checkbox-danger">
                    <input  type="checkbox" name="is_test_sd" value="1" id="is_test_sd" {%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.is_test_sd == 1 %}checked{%endif%}>
                    <label for="is_test_sd" style="color:red">
                        Тестовое СД. После окончания тестирования ПС можно удалить.
                    </label>
                </div>
            </div>
            {%include '/create/simple/blocks/preview_for_word.twig'%}

            {%if settings is defined and settings.mode_load_media is defined and 'wide' in settings.mode_load_media%}
                {%include '/create/standart/modals/modal-media-multi.twig'%}

            {%else%}
                {%include '/create/standart/modals/modal-media.twig'%}
            {%endif%}


            <center>
                {%if  dones.is_see == 1  %}

                {%else%}
                    <button type="submit" class="btn btn-danger">Сохранить</button>
                    <a href="{{base_url('/creator/catalog')}}"><button type="button" class="btn btn-secondary" >Отмена</button></a>
                {%endif%}

            </center>

            {%if is_edit_dones is defined and dones is defined and dones.is_see == 1  %}
            </fieldset>
        {%endif%}

        {%if is_edit_dones is defined and dones is defined and dones.is_see == 1  %}
            <center>
                <a href="{{base_url('/creator/catalog')}}"><button type="button" class="btn btn-secondary" >Отмена</button></a>
            </center>
        {%endif%}

    </form>


    <!-- .content -->


    {%include '/create/simple/modals/modal-template-add.twig'%}
    {%include '/create/simple/modals/modal-ct1-add.twig'%}
    {%include '/create/simple/modals/modals.twig'%}
    {%include '/create/modals/modals.twig'%}


    {%if settings is defined and settings.is_map is defined and 'yes' %}
        {%include '/create/standart/parts/map.twig'%}
    {%endif%}

{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ base_url('/assets/accordion/style.css') }}">
    <link rel="stylesheet" href="{{ base_url('/assets/css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ base_url('/assets/css/timer.css') }}?{{now|date('H:i:s')}}">
    <link href="{{ base_url('/assets/daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url('assets/datatables/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ base_url('/assets/css/media.css') }}?{{now|date('H:i:s')}}">

    <link rel="stylesheet" href="{{ base_url('/assets/css/form-simple/preview.css') }}">


    {%if settings is defined and settings.is_map is defined and 'yes' %}
        <link rel="stylesheet" href="{{ base_url('/assets/libs/leaflet-control-geocoder-master/dist/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ base_url('/assets/libs/leaflet-control-geocoder-master/dist/Control.Geocoder.css') }}" />
        <link rel="stylesheet" href="{{ base_url('/assets/css/form-standart/map.css') }}?{{now|date('H:i:s')}}">

    {%endif%}


    <style>

        #modal-list-disp .select2-container {
            width: 400px !important;
        }
    </style>

{% endblock %}

{% block footer %}
    <script src="{{ base_url('/assets/accordion/index.js')}}"></script>
    <script type="text/javascript" src="{{ base_url('assets/js/jquery.downCount.js') }}"></script>
    <script src="{{ base_url('/assets/js/mask/jquery.maskedinput.min.js')}}"></script>
    <script type="text/javascript"
    src="{{ base_url('assets/daterangepicker/moment.min.js') }}"></script>
    <script type="text/javascript"
    src="{{ base_url('assets/daterangepicker/daterangepicker.js') }}"></script>

    <script src="{{ base_url('/assets/js/manual_datetimepicker.js')}}"></script>


    <script src="{{ base_url('/assets/js/form-standart/media.js')}}?{{now|date('H:i:s')}}"></script>
    <script src="{{ base_url('/assets/js/form-standart/media_multi.js')}}?{{now|date('H:i:s')}}"></script>

        {%include '/create/simple/ck/manual.twig'%}

    {%if is_edit_dones is not defined  %}
        <script src="{{ base_url('/assets/js/timer.js')}}"></script>

    {%endif%}

    <script src="{{ base_url('/assets/js/form-simple/preview.js')}}?{{now|date('H:i:s')}}"></script>



    {%if settings is defined and settings.is_map is defined and 'yes' %}
        <script src="{{ base_url('/assets/libs/leaflet-control-geocoder-master/dist/leaflet-src.js')}}"></script>
        <script src="{{ base_url('/assets/libs/leaflet-control-geocoder-master/dist/Control.Geocoder.js')}}"></script>

        <script src="{{ base_url('/assets/libs/leaflet-control-geocoder-master/esri-leaflet.js')}}"
                integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
        crossorigin=""></script>

        {%include '/create/standart/parts/map_js.twig'%}

    {%endif%}


    {%include '/create/simple/actions.twig'%}

    <script>

        jQuery("#lat_id").mask("99.999999");//долгота
        jQuery("#long_id").mask("99.999999");//широта

        $(document).ready(function () {
            $('.select2-select').select2({
                placeholder: "Выберите из списка",
                // allowClear: true,
                "language": {
                    "noResults": function () {
                        return "Ничего не найдено";
                    }
                }
            });


        });




        $(document).ready(function () {

            $('body').on('change', '#is_show_coords', function (e) {

                e.preventDefault();

                var is_check = $(this).is(":checked");
                var lat = $('#lat_id');
                var lon = $('#long_id');

                if (is_check === true) {
                    lat.prop('readonly', true);
                    lon.prop('readonly', true);

                } else {
                    lat.prop('readonly', false);
                    lon.prop('readonly', false);
                }

            });
        });


        $(document).ready(function () {


            $(document).on("keypress", ":input:not(textarea)", function (event) {
                return event.keyCode != 13;
            });


            $('body').on('change', '#createSimple #specd_vid', function (e) {

                e.preventDefault();
                var vid = $(this).val();
                var lat = $('#lat_id');
                var lon = $('#long_id');

                var is_coord = $('#is_show_coords');

                if (parseInt(vid) === {{minirovanie_id}}) {

                    $('#is_show_coords').prop('checked', true);
                    lat.prop('readonly', true);
                    lon.prop('readonly', true);
        {#is_coord.prop("readonly", true);#}
                    } else {
                        $('#is_show_coords').prop('checked', false);
                        lat.prop('readonly', false);
                        lon.prop('readonly', false);
        {#is_coord.prop("readonly", false);#}
                    }
                    setPreviewData();


                });
            });





            /*  add template text */
            $('body').on('click', '#btn-add-template', function (event) {




                $('#createSimple #content-template #simple-ct1').removeClass('hide');
                $('#createSimple #content-template #simple-ct1').removeClass('show');
                $('#createSimple #content-template #simple-ct1').addClass('hide');

                $('#createSimple #content-template #simple-opening').removeClass('hide');
                $('#createSimple #content-template #simple-opening').removeClass('show');
                $('#createSimple #content-template #simple-opening').addClass('show');

                $('#createSimple #simple-date-msg').removeClass('hide');
                $('#createSimple #simple-date-msg').removeClass('show');
                $('#createSimple #simple-date-msg').addClass('show');

                $('#createSimple #simple_div_address').removeClass('hide');
                $('#createSimple #simple_div_address').removeClass('show');
                $('#createSimple #simple_div_address').addClass('show');



                $('#createSimple #preview-simple-block').removeClass('hide');
                $('#createSimple #preview-simple-block').removeClass('show');
                $('#createSimple #preview-simple-block').addClass('show');


                var old_text = $('#createSimple #opening_description_id').val();
                var add = "1. По прибытии к месту вызова установлено,\n2. Характеристика объекта –\n3. Хозяин Ф.И.О., г.р., место работы и должность –\n4. В результате пожара огнем повреждено.";


                if (old_text === '') {
                    var new_text = add;
                } else {
                    var new_text = old_text + '\n' + add;
                }

                $('#createSimple #opening_description_id').val(new_text);
                $('#createSimple #opening_description_id').change();

                $('#createSimple input[name="official_destination"]').val('Главный оперативный дежурный РЦУРЧС');
                $('#createSimple input[name="id_template"]').val('');

                $('#modal-template-add').click();


            });




        {%if set_prewiev_owl is defined and  set_prewiev_owl == 1%}
            setPreviewData();
        {%endif%}



        </script>




        {% endblock %}

